# 1. Getting the libraries necessary

In [259]:
import numpy as np
import pandas as pd
import statistics as st
import datetime as dt
import yfinance as yf
import statsmodels.api as sm
import scipy.stats as scyst

from sklearn import linear_model

# 2. Getting the data

Getting the tickers from Excel and and ensuring that the data is correct

In [260]:
df_Emerging_Markets = pd.read_excel("Database.xlsx",'Emerging Markets',index_col = 0)
df_Developed_Countries = pd.read_excel("Database.xlsx",'Developed Countries',index_col = 0)
df_TB_Index = pd.read_excel("Database.xlsx",'TB & Index',index_col = 0)

In [261]:
df_Emerging_Markets

,Country,Continent,Sector,Sector Number,ISIN,11,10,9,8,7,...,-141,-142,-143,-144,-145,-146,-147,-148,-149,-150
Company Name,,,,,,,,,,,,,,,,,,,,,
3R Petroleum,Brazil,South America,Energy,1,BRRRRPACNOR5,6.195054,6.026777,5.963838,5.982194,6.111196,...,5.560196,4.773690,4.785338,4.922285,4.789783,5.158464,5.669807,6.080226,5.785797,5.868946
Allos,Brazil,South America,Healthcare and Pharmaceuticals,22,BRALOSACNOR5,4.405077,4.291967,4.119313,4.107848,4.117193,...,3.132696,3.139476,3.165548,3.088040,3.086530,3.144737,3.224408,3.247400,3.067666,3.054144
Ambev S/A,Brazil,South America,Consumer Goods,13,BRABEVACNOR1,2.363977,2.343121,2.336522,2.341997,2.345995,...,2.529639,2.542244,2.507400,2.474334,2.421191,2.448726,2.500111,2.521641,2.440685,2.442592
Arezzo Co,Brazil,South America,Retail,0,BRARZZACNOR9,11.427145,11.285657,11.020378,10.976709,11.142072,...,11.879696,12.286920,12.143542,11.880352,12.198462,12.452070,14.283721,14.370763,13.655475,13.497581
Assai,Brazil,South America,Retail,0,BRASAIACNOR7,2.148726,2.162881,2.072751,2.055795,2.025831,...,2.832057,2.897018,2.993857,2.937274,2.969117,3.057736,3.285072,3.339971,3.225774,3.193462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Taleem REIT,Saudi Arabia,Asia,Real Estate,9,SA14AG523ML1,2.769267,2.774878,2.767524,2.757581,2.759585,...,2.660493,2.657692,2.664749,2.629893,2.626601,2.572119,2.573068,2.593819,2.629504,2.615821
Theeb Rent a Car Company SJSC,Saudi Arabia,Asia,Distribution and Services,24,SA159GK22IH4,15.306496,15.337505,15.557838,15.275083,15.314177,...,19.941074,19.957855,19.711159,19.460205,19.435844,19.528126,19.247751,18.423151,18.912205,18.813791
Thimar Development Holding,Saudi Arabia,Asia,Consumer Goods,13,SA0007879352,11.643510,11.667099,11.978271,12.577998,12.584918,...,9.377354,9.286820,9.156956,8.950688,8.939484,8.915014,8.995686,9.035638,8.963070,8.916429
Umm Al-Qura,Saudi Arabia,Asia,Real Estate,9,SA13I051EUH6,3.876974,3.884829,3.905903,3.927158,3.952372,...,4.068989,4.092241,4.071976,4.047924,4.042857,4.050463,4.030469,4.001317,4.141469,4.119918
spcc,Saudi Arabia,Asia,Agribusiness and Chemicals,15,SA0007879551,4.309987,4.333855,4.341016,4.411121,4.452736,...,5.659226,5.541891,5.464232,5.506182,5.464134,5.438908,5.578330,5.474164,5.334860,5.317160

In [262]:
df_Developed_Countries

,Country,Continent,Sector,Sector Number,ISIN,11,10,9,8,7,...,-141,-142,-143,-144,-145,-146,-147,-148,-149,-150
Company Name,,,,,,,,,,,,,,,,,,,,,
Inditex,Spain,Europe,Retail,0,ES0148396007,34.030000,33.440000,33.960000,34.910000,34.980000,...,29.120000,28.510000,28.630000,28.770000,27.680000,29.170000,28.640000,29.270000,29.320000,29.140000
Iberdrola,Spain,Europe,Energy,1,ES0144580Y14,10.295000,10.370000,10.410000,10.380000,10.475000,...,11.110000,11.065000,10.920000,11.050000,10.875000,10.860000,10.680000,10.710000,10.705000,10.710000
Santander,Spain,Europe,Financial Services,2,ES0113900J37,3.421500,3.456500,3.508500,3.511000,3.572000,...,3.376000,3.225500,3.138500,3.291500,3.208000,3.445500,3.344500,3.610000,3.768500,3.819000
BBVA,Spain,Europe,Financial Services,2,ES0113211835,7.522000,7.540000,7.624000,7.688000,7.744000,...,6.567000,6.231000,6.036000,6.254000,6.048000,6.690000,6.469000,7.050000,7.299000,7.321000
CAIXABANK,Spain,Europe,Financial Services,2,ES0140609019,3.744000,3.800000,3.854000,3.780000,3.788000,...,3.810000,3.622000,3.510000,3.586000,3.634000,3.896000,3.743000,3.992000,4.065000,4.109000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
APA Group,Australia,Oceania,Energy,1,AU000000APA0,4.771861,4.757461,4.780621,4.851603,4.928403,...,6.334026,6.422639,6.444511,6.425698,6.325299,6.320757,6.359076,6.484679,6.443134,6.459523
Stockland,Australia,Oceania,Real Estate,9,AU000000SGP9,2.189582,2.214578,2.222989,2.269298,2.268630,...,2.390907,2.454792,2.411212,2.441012,2.342473,2.304118,2.326491,2.397328,2.379389,2.384094
NEXTDC Ltd,Australia,Oceania,Technology,3,AU000000NXT3,7.077626,7.130050,7.273797,7.439929,7.324687,...,6.180668,6.279705,6.239807,6.258118,6.117514,6.125089,6.211503,6.340521,6.453171,6.505450
Medibank Private Ltd,Australia,Oceania,Healthcare,8,AU000000MPL5,2.088433,2.107132,2.133352,2.148910,2.160313,...,1.990336,2.059263,2.041701,2.045681,1.982093,2.030115,2.059720,2.096880,2.097619,2.115728
Auckland International Airport Ltd,Australia,Oceania,Transportation and Logistics,4,NZAIAE0002S2,4.128016,4.205481,4.311628,4.399376,4.417722,...,5.199647,5.107809,5.034626,4.973693,4.978593,4.972250,4.953588,4.990577,5.035146,4.987419

In [263]:
df_TB_Index

,ISIN,11,10,9,8,7,6,5,4,3,...,-141,-142,-143,-144,-145,-146,-147,-148,-149,-150
Name,,,,,,,,,,,,,,,,,,,,,
US Treasury Bill 3-Months,US03M-TU1,5.000235,5.010152,5.031461,5.062390,5.041838,5.061852,5.081640,5.058974,5.026592,...,4.043962,4.298291,4.373724,4.361915,4.383881,4.500585,4.598354,4.641080,4.555760,4.436277
MSCI All Country World Index,MS144844,2516.157023,2533.496013,2566.412964,2600.251073,2624.050756,2624.865024,2618.931294,2628.022986,2624.186865,...,2436.872444,2458.992527,2449.735658,2436.300945,2415.014904,2437.885291,2498.798143,2534.164754,2528.828604,2540.072312

# 3. Cleaning the data

Cleaning the missing values, first checking how many missing values we have and then we are going to do two methods:

1 - Replace the missing values with the method Backward fill, filling the data with the info of the day before. This method is used to avoid the generations of fluctuations in the returns of the stocks

### 3.0.1 Cleaning the Treasury Bill and Index data

In [264]:
# Creating a Data Frame only with the value of the stocks for the days after the event and 500 days before
df_prices_TB_Index = df_TB_Index.iloc[:,1:]

# Check for missing values in the entire DataFrame through companies
missing_values = df_prices_TB_Index.isnull()
missing_count = missing_values.sum(axis=1)
missing_percentage = (missing_count / df_prices_TB_Index.count(axis=1)) *100

#Printing the missing values to check how manny we have
print(f'The database as a {round(st.mean(missing_percentage),2)}% of missing values')

df_prices_TB_Index

The database as a 0.0% of missing values

,11,10,9,8,7,6,5,4,3,2,...,-141,-142,-143,-144,-145,-146,-147,-148,-149,-150
Name,,,,,,,,,,,,,,,,,,,,,
US Treasury Bill 3-Months,5.000235,5.010152,5.031461,5.062390,5.041838,5.061852,5.081640,5.058974,5.026592,5.036565,...,4.043962,4.298291,4.373724,4.361915,4.383881,4.500585,4.598354,4.641080,4.555760,4.436277
MSCI All Country World Index,2516.157023,2533.496013,2566.412964,2600.251073,2624.050756,2624.865024,2618.931294,2628.022986,2624.186865,2618.820417,...,2436.872444,2458.992527,2449.735658,2436.300945,2415.014904,2437.885291,2498.798143,2534.164754,2528.828604,2540.072312

### 3.0.2 Cleaning the Emerging Markets data

In [265]:
# Creating a Data Frame only with the value of the stocks for the days after the event and 500 days before
df_stock_price_Emerging_Markets = df_Emerging_Markets.iloc[:,5:]

# Check for missing values in the entire DataFrame through companies
missing_values = df_stock_price_Emerging_Markets.isnull()
missing_count = missing_values.sum(axis=1)
stock_prices_data_amount = df_stock_price_Emerging_Markets.count(axis=1)
total_missing_percentage = missing_count.sum()/stock_prices_data_amount.sum()
missing_percentage = (missing_count / stock_prices_data_amount) *100

#Printing the missing values to check how manny we have
print(f'The database as a {round(total_missing_percentage,2)}% of missing values')

The database as a 0.01% of missing values

In [266]:
# Looking for how many companies have more percentage of missing data over data than accepted
companies_out = missing_percentage[missing_percentage > 5]
number_companies_out = companies_out.count()
number_companies_Emerging_Markets = len(df_stock_price_Emerging_Markets.count(axis=1))
number_companies_out = round(number_companies_out/number_companies_Emerging_Markets *100,2)
print(f'A {number_companies_out}% ({len(companies_out)}) of companies are retired due to lack of information')

#Taking this companies out of the DataFrame and we create a formula to help us
name_companies_out = companies_out.index.tolist()
df_clean_stock_price_Emerging_Markets = df_stock_price_Emerging_Markets.drop(name_companies_out)

#Printing the new percentage of missing data
missing_values_clean_df = df_clean_stock_price_Emerging_Markets.isnull()
missing_count_clean_df = missing_values_clean_df.sum(axis=1)
missing_percentage_clean_df = (missing_count_clean_df / df_clean_stock_price_Emerging_Markets.count(axis=1)) *100
print(f'The clean database as a {round(st.mean(missing_percentage_clean_df),2)}% of missing values')
df_clean_stock_price_Emerging_Markets

A 0.88% (5) of companies are retired due to lack of information
The clean database as a 0.01% of missing values

,11,10,9,8,7,6,5,4,3,2,...,-141,-142,-143,-144,-145,-146,-147,-148,-149,-150
Company Name,,,,,,,,,,,,,,,,,,,,,
3R Petroleum,6.195054,6.026777,5.963838,5.982194,6.111196,6.196247,6.047131,6.071784,5.834039,5.727799,...,5.560196,4.773690,4.785338,4.922285,4.789783,5.158464,5.669807,6.080226,5.785797,5.868946
Allos,4.405077,4.291967,4.119313,4.107848,4.117193,4.372382,4.413431,4.391755,4.458912,4.376693,...,3.132696,3.139476,3.165548,3.088040,3.086530,3.144737,3.224408,3.247400,3.067666,3.054144
Ambev S/A,2.363977,2.343121,2.336522,2.341997,2.345995,2.409234,2.440235,2.439237,2.476345,2.462470,...,2.529639,2.542244,2.507400,2.474334,2.421191,2.448726,2.500111,2.521641,2.440685,2.442592
Arezzo Co,11.427145,11.285657,11.020378,10.976709,11.142072,11.816537,11.921702,11.995110,12.432036,12.563246,...,11.879696,12.286920,12.143542,11.880352,12.198462,12.452070,14.283721,14.370763,13.655475,13.497581
Assai,2.148726,2.162881,2.072751,2.055795,2.025831,2.177721,2.207653,2.183662,2.267654,2.250605,...,2.832057,2.897018,2.993857,2.937274,2.969117,3.057736,3.285072,3.339971,3.225774,3.193462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Taleem REIT,2.769267,2.774878,2.767524,2.757581,2.759585,2.741212,2.727744,2.710248,2.717042,2.730367,...,2.660493,2.657692,2.664749,2.629893,2.626601,2.572119,2.573068,2.593819,2.629504,2.615821
Theeb Rent a Car Company SJSC,15.306496,15.337505,15.557838,15.275083,15.314177,15.127430,15.053106,14.831079,15.371415,15.421519,...,19.941074,19.957855,19.711159,19.460205,19.435844,19.528126,19.247751,18.423151,18.912205,18.813791
Thimar Development Holding,11.643510,11.667099,11.978271,12.577998,12.584918,12.995377,12.931528,12.723110,13.434266,13.348462,...,9.377354,9.286820,9.156956,8.950688,8.939484,8.915014,8.995686,9.035638,8.963070,8.916429
Umm Al-Qura,3.876974,3.884829,3.905903,3.927158,3.952372,3.934147,3.914818,3.899746,3.944743,3.979258,...,4.068989,4.092241,4.071976,4.047924,4.042857,4.050463,4.030469,4.001317,4.141469,4.119918
spcc,4.309987,4.333855,4.341016,4.411121,4.452736,4.533153,4.505829,4.497005,4.483120,4.586006,...,5.659226,5.541891,5.464232,5.506182,5.464134,5.438908,5.578330,5.474164,5.334860,5.317160

### 3.0.3 Cleaning the Developed Markets data

In [267]:
# Creating a Data Frame only with the value of the stocks for the days after the event and 500 days before
df_stock_price_Developed_Markets = df_Developed_Countries.iloc[:,5:]

# Check for missing values in the entire DataFrame through companies
missing_values = df_stock_price_Developed_Markets.isnull()
missing_count = missing_values.sum(axis=1)
missing_percentage = (missing_count / df_stock_price_Developed_Markets.count(axis=1)) *100

#Printing the missing values to check how manny we have
print(f'The database as a {round(st.mean(missing_percentage),2)}% of missing values')

The database as a 0.3% of missing values

In [268]:
# Looking for how many companies have more percentage of missing data over data than accepted
companies_out = missing_percentage[missing_percentage > 5]
number_companies_out = companies_out.count()
number_companies_Developed_Markets = len(df_stock_price_Developed_Markets.count(axis=1))
number_companies_out = round(number_companies_out/number_companies_Developed_Markets *100,2)
print(f'A {number_companies_out}% ({len(companies_out)}) of companies are retired due to lack of information')

#Taking this companies out of the DataFrame and we create a formula to help us
name_companies_out = companies_out.index.tolist()
df_clean_stock_price_Developed_Markets = df_stock_price_Developed_Markets.drop(name_companies_out)

#Printing the new percentage of missing data
missing_values_clean_df = df_clean_stock_price_Developed_Markets.isnull()
missing_count_clean_df = missing_values_clean_df.sum(axis=1)
missing_percentage_clean_df = (missing_count_clean_df / df_clean_stock_price_Developed_Markets.count(axis=1)) *100
print(f'The clean database as a {round(st.mean(missing_percentage_clean_df),2)}% of missing values')
df_clean_stock_price_Developed_Markets

A 0.37% (2) of companies are retired due to lack of information
The clean database as a 0.0% of missing values

,11,10,9,8,7,6,5,4,3,2,...,-141,-142,-143,-144,-145,-146,-147,-148,-149,-150
Company Name,,,,,,,,,,,,,,,,,,,,,
Inditex,34.030000,33.440000,33.960000,34.910000,34.980000,34.530000,34.130000,34.570000,34.620000,35.490000,...,29.120000,28.510000,28.630000,28.770000,27.680000,29.170000,28.640000,29.270000,29.320000,29.140000
Iberdrola,10.295000,10.370000,10.410000,10.380000,10.475000,10.515000,10.560000,10.580000,10.635000,10.505000,...,11.110000,11.065000,10.920000,11.050000,10.875000,10.860000,10.680000,10.710000,10.705000,10.710000
Santander,3.421500,3.456500,3.508500,3.511000,3.572000,3.576000,3.513000,3.587000,3.610500,3.607000,...,3.376000,3.225500,3.138500,3.291500,3.208000,3.445500,3.344500,3.610000,3.768500,3.819000
BBVA,7.522000,7.540000,7.624000,7.688000,7.744000,7.700000,7.682000,7.798000,7.782000,7.650000,...,6.567000,6.231000,6.036000,6.254000,6.048000,6.690000,6.469000,7.050000,7.299000,7.321000
CAIXABANK,3.744000,3.800000,3.854000,3.780000,3.788000,3.792000,3.787000,3.828000,3.846000,3.833000,...,3.810000,3.622000,3.510000,3.586000,3.634000,3.896000,3.743000,3.992000,4.065000,4.109000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
APA Group,4.771861,4.757461,4.780621,4.851603,4.928403,4.952189,4.997966,4.979654,5.019166,4.998089,...,6.334026,6.422639,6.444511,6.425698,6.325299,6.320757,6.359076,6.484679,6.443134,6.459523
Stockland,2.189582,2.214578,2.222989,2.269298,2.268630,2.275006,2.301222,2.360681,2.343486,2.299363,...,2.390907,2.454792,2.411212,2.441012,2.342473,2.304118,2.326491,2.397328,2.379389,2.384094
NEXTDC Ltd,7.077626,7.130050,7.273797,7.439929,7.324687,7.288704,7.448540,7.691713,7.698253,7.473001,...,6.180668,6.279705,6.239807,6.258118,6.117514,6.125089,6.211503,6.340521,6.453171,6.505450
Medibank Private Ltd,2.088433,2.107132,2.133352,2.148910,2.160313,2.142947,2.103460,2.114401,2.120009,2.081529,...,1.990336,2.059263,2.041701,2.045681,1.982093,2.030115,2.059720,2.096880,2.097619,2.115728
Auckland International Airport Ltd,4.128016,4.205481,4.311628,4.399376,4.417722,4.444795,4.413790,4.470415,4.460301,4.492508,...,5.199647,5.107809,5.034626,4.973693,4.978593,4.972250,4.953588,4.990577,5.035146,4.987419

## 3.1 Bfill method

In this case, due to how the data is organized, we are going to execute the function fill.
This function in this case does the same as a Backward filling due to the organization of data.
Its organized closet to nowadays' to last date.

We execute the function, which fills the missing values with the data from the date before.

In [269]:
# Appliying the method to the Data Frame
df_bfill_Emerging_Markets = df_clean_stock_price_Emerging_Markets.ffill(axis= 1)
df_bfill_Developed_Markets = df_clean_stock_price_Developed_Markets.ffill(axis= 1)

df_bfill_Emerging_Markets
# df_bfill_method_Emerging_Markets.to_csv(r"C:\Users\pacoa\Desktop\Paper2.csv",sep =':',decimal = ',', index=True)

,11,10,9,8,7,6,5,4,3,2,...,-141,-142,-143,-144,-145,-146,-147,-148,-149,-150
Company Name,,,,,,,,,,,,,,,,,,,,,
3R Petroleum,6.195054,6.026777,5.963838,5.982194,6.111196,6.196247,6.047131,6.071784,5.834039,5.727799,...,5.560196,4.773690,4.785338,4.922285,4.789783,5.158464,5.669807,6.080226,5.785797,5.868946
Allos,4.405077,4.291967,4.119313,4.107848,4.117193,4.372382,4.413431,4.391755,4.458912,4.376693,...,3.132696,3.139476,3.165548,3.088040,3.086530,3.144737,3.224408,3.247400,3.067666,3.054144
Ambev S/A,2.363977,2.343121,2.336522,2.341997,2.345995,2.409234,2.440235,2.439237,2.476345,2.462470,...,2.529639,2.542244,2.507400,2.474334,2.421191,2.448726,2.500111,2.521641,2.440685,2.442592
Arezzo Co,11.427145,11.285657,11.020378,10.976709,11.142072,11.816537,11.921702,11.995110,12.432036,12.563246,...,11.879696,12.286920,12.143542,11.880352,12.198462,12.452070,14.283721,14.370763,13.655475,13.497581
Assai,2.148726,2.162881,2.072751,2.055795,2.025831,2.177721,2.207653,2.183662,2.267654,2.250605,...,2.832057,2.897018,2.993857,2.937274,2.969117,3.057736,3.285072,3.339971,3.225774,3.193462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Taleem REIT,2.769267,2.774878,2.767524,2.757581,2.759585,2.741212,2.727744,2.710248,2.717042,2.730367,...,2.660493,2.657692,2.664749,2.629893,2.626601,2.572119,2.573068,2.593819,2.629504,2.615821
Theeb Rent a Car Company SJSC,15.306496,15.337505,15.557838,15.275083,15.314177,15.127430,15.053106,14.831079,15.371415,15.421519,...,19.941074,19.957855,19.711159,19.460205,19.435844,19.528126,19.247751,18.423151,18.912205,18.813791
Thimar Development Holding,11.643510,11.667099,11.978271,12.577998,12.584918,12.995377,12.931528,12.723110,13.434266,13.348462,...,9.377354,9.286820,9.156956,8.950688,8.939484,8.915014,8.995686,9.035638,8.963070,8.916429
Umm Al-Qura,3.876974,3.884829,3.905903,3.927158,3.952372,3.934147,3.914818,3.899746,3.944743,3.979258,...,4.068989,4.092241,4.071976,4.047924,4.042857,4.050463,4.030469,4.001317,4.141469,4.119918
spcc,4.309987,4.333855,4.341016,4.411121,4.452736,4.533153,4.505829,4.497005,4.483120,4.586006,...,5.659226,5.541891,5.464232,5.506182,5.464134,5.438908,5.578330,5.474164,5.334860,5.317160

# 4. Calculate Abnormal Reuturns

Abnormal returns are the unexpected performance of an investment, in this case the companies stocks, compared to the expected risk free rate and market risk.

1 - Calculation of the returns of the datasets.

2 - Calculation of the abnormal returns.

## 4.1 Calculation of the returns of the datasets.

Use Log returns for the even study

In [270]:
# Returns of the Emerging Markets
Emerging_Markets_returns = np.log(df_bfill_Emerging_Markets/ df_bfill_Emerging_Markets.shift(axis=1))
Emerging_Markets_returns = Emerging_Markets_returns.iloc[:,1:]

# Returns of the Developed Markets
Developed_Markets_returns = np.log(df_bfill_Developed_Markets/ df_bfill_Developed_Markets.shift(axis=1))
Developed_Markets_returns = Developed_Markets_returns.iloc[:,1:]

# Returns of the Treasury Bill and Index
TB_Index_returns = np.log(df_prices_TB_Index/ df_prices_TB_Index.shift(axis=1))
TB_Index_returns = TB_Index_returns.iloc[:,1:]

TB_Index_returns

,10,9,8,7,6,5,4,3,2,1,...,-141,-142,-143,-144,-145,-146,-147,-148,-149,-150
Name,,,,,,,,,,,,,,,,,,,,,
US Treasury Bill 3-Months,0.001981,0.004244,0.006128,-0.004068,0.003962,0.003902,-0.004470,-0.006422,0.001982,0.006791,...,-0.036075,0.060993,0.017397,-0.002704,0.005023,0.026273,0.021491,0.009249,-0.018555,-0.026577
MSCI All Country World Index,0.006867,0.012909,0.013099,0.009111,0.000310,-0.002263,0.003466,-0.001461,-0.002047,-0.005592,...,0.000894,0.009036,-0.003772,-0.005499,-0.008775,0.009426,0.024679,0.014054,-0.002108,0.004436

In [271]:
# Risk free returns and markets returns variables
TB_returns = TB_Index_returns.iloc[0,:]
Market_returns = TB_Index_returns.iloc[1:]

# Variables for the calculation of Abnormal Returns
Market_excess_return = Market_returns.subtract(TB_returns, axis=1)
Market_excess_return_array = Market_excess_return.values.reshape(-1, 1)

## 4.2 Calculation of the abnormal returns.


Calucalate the returns of the stock that exceed what is predicted around the event day using previous performance on the market

In [272]:
# Function to calculate the betas of the stocks in the market (CAPM

def alphas_and_betas(Stocks_excess_return, Market_excess_return_array):
    
    alphas = [] 
    betas = []
    reg = linear_model.LinearRegression()

    for Company, Stock_returns in Stocks_excess_return.iterrows():
        
        Stock_returns = Stock_returns.values.reshape(-1, 1)
        alphas.append(reg.fit(Stock_returns, Market_excess_return_array).intercept_)
        betas.append(reg.fit(Stock_returns, Market_excess_return_array).coef_)
    
    betas = np.array(betas)
    alphas = np.array(alphas)
    
    alphas_and_betas_df = pd.DataFrame({'Alpha': alphas.ravel(),'Beta': betas.ravel()}, index=Stocks_excess_return.index)
    
    return alphas_and_betas_df

In [273]:
# Function to calculate the abnormal return of the different Markets

def abnormal_returns(Stocks_returns, TB_returns, Market_excess_return):
    
    Stocks_excess_return = Stocks_returns.subtract(TB_returns, axis=1)
    Alphas_Betas_Stocks_excess_returns = alphas_and_betas(Stocks_excess_return, Market_excess_return_array)
    
    betas = Alphas_Betas_Stocks_excess_returns['Beta']
    alphas = Alphas_Betas_Stocks_excess_returns['Alpha']
    
    expected_returns = np.outer(betas,Market_excess_return.values) #Multiplication of betas and excess market returns
    expected_returns = pd.DataFrame(expected_returns, index = Stocks_returns.index, columns = Stocks_returns.columns)
    expected_returns = expected_returns.add(alphas, axis='index') #Intercept + B*Excess Market Rertunrs
    
    abnormal_returns = (Stocks_excess_return - expected_returns)

    return abnormal_returns

In [274]:
# Creating the DataFrames of the Abnormal Returns

AR_Emerging_Markets = abnormal_returns(Emerging_Markets_returns, TB_returns, Market_excess_return)
AR_Developed_Markets = abnormal_returns(Developed_Markets_returns, TB_returns, Market_excess_return)

AR_Emerging_Markets

,10,9,8,7,6,5,4,3,2,1,...,-141,-142,-143,-144,-145,-146,-147,-148,-149,-150
Company Name,,,,,,,,,,,,,,,,,,,,,
3R Petroleum,-0.030898,-0.016607,-0.004701,0.022958,0.009580,-0.028218,0.006768,-0.034909,-0.020592,-0.041049,...,0.061354,-0.207573,-0.012987,0.030530,-0.031286,0.049298,0.071865,0.059270,-0.033946,0.036107
Allos,-0.030001,-0.048019,-0.011314,0.002776,0.055771,0.005511,-0.003033,0.019577,-0.020927,-0.053131,...,0.064028,-0.050166,-0.006242,-0.022651,-0.004011,-0.005517,0.001840,-0.004135,-0.042560,0.015247
Ambev S/A,-0.013101,-0.010720,-0.006817,0.000449,0.023535,0.010711,0.000675,0.019234,-0.006563,-0.022175,...,0.029743,-0.037266,-0.023824,-0.009990,-0.022086,-0.009188,-0.002355,-0.002903,-0.020609,0.015440
Arezzo Co,-0.015589,-0.029601,-0.011480,0.016946,0.054614,0.005043,0.009120,0.041042,0.008363,-0.067030,...,0.075222,-0.022094,-0.027376,-0.019500,0.022337,-0.004420,0.114783,-0.004313,-0.034940,0.010882
Assai,0.003628,-0.048112,-0.015491,-0.012332,0.068164,0.009807,-0.007693,0.043201,-0.009667,-0.066097,...,0.024771,-0.034053,0.016918,-0.016628,0.006518,0.004176,0.049422,0.006376,-0.018252,0.013155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Taleem REIT,-0.003095,-0.011998,-0.013948,-0.002651,-0.009345,-0.006225,-0.006686,0.005749,0.004403,0.019951,...,0.014035,-0.035660,-0.004350,-0.009611,0.000291,-0.039083,-0.023378,-0.004312,0.023077,0.004652
Theeb Rent a Car Company SJSC,-0.001451,0.007614,-0.026466,0.003129,-0.015662,-0.007651,-0.012619,0.040695,0.001932,-0.008300,...,0.055325,-0.047918,-0.025037,-0.009748,-0.003257,-0.017781,-0.037036,-0.054508,0.040469,0.013557
Thimar Development Holding,-0.002001,0.019225,0.040236,0.000799,0.027917,-0.008505,-0.014475,0.058750,-0.008525,-0.054890,...,0.010045,-0.060569,-0.027946,-0.020479,-0.004319,-0.026405,-0.014163,-0.006844,0.005972,0.013723
Umm Al-Qura,-0.002520,-0.003164,-0.004239,0.004027,-0.007154,-0.006222,-0.003376,0.015296,0.008336,0.004536,...,0.020057,-0.031274,-0.012740,-0.002191,-0.000101,-0.016792,-0.028208,-0.019033,0.045012,0.006578
spcc,0.001570,-0.006120,0.007063,0.008072,0.015482,-0.007368,-0.000717,0.001328,0.022408,-0.002010,...,0.012677,-0.060509,-0.022752,0.011544,-0.006966,-0.023922,0.002549,-0.030036,-0.013953,0.010524

# 5.  Calculation of AR & CAR

1 - Calculation of the Average Abnormal Returns over different days before and after the event

2 - Calculation of the Cumulative Abnormal Returns over different days before and after the event

## 5.1 Average Abnormal Returns

First, its calculated the Abnormal Returns for the companies over the event days and after that, the overage of the companies in the dates

In [275]:
# Analysis of Average Abnormal Returns
def stats_AAR_companies(Abnormal_Retuns, Days_before, Days_after):
    
    df_event_study = Abnormal_Retuns.loc[:,Days_after:-Days_before]
    
    # Calculate the Mean and Standard Deviation of the AAR
    mean_AR = df_event_study.mean(axis = 0)
    std_AR = df_event_study.std(axis = 0)

    # Put everything in Dataframes
    stats = pd.DataFrame(mean_AR, columns=['Mean AR'])
    stats['STD AR'] = std_AR
    stats['T-Test'] = mean_AR / std_AR
    stats['P-Value'] = scyst.norm.cdf(stats['T-Test'])

    return stats

In [276]:
# Abnormal Returns for +10 -10 days

display(stats_AAR_companies(AR_Developed_Markets, 10, 10))
display(stats_AAR_companies(AR_Emerging_Markets, 10, 10))

      Mean AR    STD AR    T-Test   P-Value
10  -0.001242  0.014997 -0.082842  0.466988
9    0.005337  0.013792  0.386973  0.650612
8    0.002525  0.018234  0.138491  0.555074
7    0.008793  0.016106  0.545961  0.707454
6   -0.001419  0.014861 -0.095497  0.461960
5   -0.003583  0.012982 -0.275988  0.391279
4    0.010009  0.015396  0.650110  0.742189
3    0.005496  0.014324  0.383707  0.649402
2   -0.002807  0.016675 -0.168310  0.433170
1   -0.015814  0.014670 -1.078028  0.140511
0   -0.000771  0.017610 -0.043762  0.482547
-1  -0.000372  0.000341 -1.092818  0.137237
-2  -0.001369  0.013855 -0.098823  0.460639
-3  -0.008191  0.013294 -0.616114  0.268910
-4   0.002491  0.015955  0.156138  0.562038
-5   0.012227  0.014114  0.866255  0.806825
-6   0.012989  0.015271  0.850532  0.802485
-7  -0.006570  0.014979 -0.438637  0.330462
-8  -0.005153  0.015243 -0.338087  0.367649
-9   0.011615  0.018831  0.616805  0.731318
-10  0.000645  0.013166  0.049022  0.519549

      Mean AR    STD AR    T-Test   P-Value
10  -0.004175  0.020447 -0.204162  0.419113
9    0.000738  0.022142  0.033337  0.513297
8    0.003313  0.022893  0.144735  0.557540
7    0.007738  0.026379  0.293327  0.615364
6   -0.007352  0.031359 -0.234445  0.407320
5   -0.000314  0.022686 -0.013854  0.494473
4    0.001196  0.021870  0.054668  0.521799
3    0.007142  0.021554  0.331376  0.629820
2   -0.004036  0.019118 -0.211097  0.416406
1   -0.011958  0.028949 -0.413079  0.339774
0    0.002647  0.023530  0.112509  0.544790
-1  -0.000551  0.000336 -1.637745  0.050737
-2   0.002933  0.020974  0.139847  0.555609
-3   0.001942  0.027979  0.069400  0.527664
-4   0.002888  0.019637  0.147048  0.558453
-5   0.010620  0.023123  0.459287  0.676986
-6   0.006308  0.024077  0.261988  0.603335
-7  -0.006757  0.020567 -0.328527  0.371257
-8  -0.008284  0.024469 -0.338557  0.367472
-9   0.012447  0.018508  0.672500  0.749367
-10 -0.001586  0.020171 -0.078609  0.468672

## 5.2 Cumulative Average Abnormal Returns

The Cumulative Abnormal Returns is calculated as the sum of the abnormal returns of the each company over the event dates

In [277]:
# Analisis of Cumulative Average Abnormal Returns
def stats_CAAR_companies(Abnormal_Returns, Days_before, Days_after):
    
    # Extract the relevant event study window and calculate CAR, CAAR and its values
    AR_event_study = Abnormal_Returns.loc[:, Days_after:-Days_before]
    CAR = AR_event_study.sum(axis=1)
    
    mean_CAAR = np.mean(CAR)
    std_CAAR = np.std(CAR)
    t_test = mean_CAAR / std_CAAR
    p_value = scyst.norm.cdf(t_test)
    
    # Create DataFrame
    index = f' CAAR +{Days_before} / -{Days_after} days'
    stats = pd.DataFrame({
        'Mean CAAR': [mean_CAAR],
        'STD CAAR': [std_CAAR],
        'T-Test': [t_test],
        'P-Value': [p_value]
    },index = [index])

    return stats

In [278]:
# Calculate CAAR for Developed Markets

CAAR_10_10 = stats_CAAR_companies(AR_Developed_Markets, 10, 10)
CAAR_5_5 = stats_CAAR_companies(AR_Developed_Markets, 5, 5)
CAAR_1_1 = stats_CAAR_companies(AR_Developed_Markets, 1, 1)

CAAR_Developed_Markets = pd.concat([ CAAR_10_10, CAAR_5_5, CAAR_1_1])
CAAR_Developed_Markets

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.024837  0.059304  0.418802  0.662319
 CAAR +5 / -5 days    -0.002683  0.038285 -0.070084  0.472064
 CAAR +1 / -1 days    -0.016957  0.017602 -0.963376  0.167679

In [279]:
# Calculate CAAR for Emerging Markets

CAAR_10_10 = stats_CAAR_companies(AR_Emerging_Markets,10, 10)
CAAR_5_5 = stats_CAAR_companies(AR_Emerging_Markets, 5, 5)
CAAR_1_1 = stats_CAAR_companies(AR_Emerging_Markets, 1, 1)

CAAR_Emerging_Markets = pd.concat([CAAR_10_10, CAAR_5_5, CAAR_1_1])
CAAR_Emerging_Markets

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.014900  0.101429  0.146898  0.558394
 CAAR +5 / -5 days     0.012509  0.068914  0.181517  0.572019
 CAAR +1 / -1 days    -0.009861  0.035991 -0.273995  0.392044

## 5.3  Average Abnormal Returns for countries

### 5.3.1 Average Abnormal Returns for Emerging Markets Countries

In [280]:
# Add country column to the Abrnormal Returns dataframe
common_index = AR_Emerging_Markets.index.intersection(df_Emerging_Markets.index)
AR_Emerging_Markets.loc[common_index, 'Country'] = df_Emerging_Markets.loc[common_index, 'Country']

# Calculate AAR per country
emerging_market_countries = AR_Emerging_Markets['Country'].unique()

for country in emerging_market_countries:
    companies_per_country = AR_Emerging_Markets[AR_Emerging_Markets['Country'] == country]
    print(country)
    display(stats_AAR_companies(companies_per_country, 10, 10))

Brazil

      Mean AR    STD AR    T-Test   P-Value
10  -0.015834  0.018933 -0.836319  0.201488
9   -0.018632  0.022117 -0.842418  0.199777
8   -0.004292  0.016489 -0.260276  0.397325
7    0.000816  0.017503  0.046639  0.518600
6    0.024457  0.024701  0.990141  0.838947
5    0.005059  0.016365  0.309128  0.621388
4   -0.000630  0.012533 -0.050259  0.479958
3    0.017102  0.028027  0.610174  0.729127
2   -0.001392  0.013912 -0.100035  0.460158
1   -0.042011  0.017997 -2.334404  0.009787
0   -0.011720  0.020436 -0.573499  0.283153
-1  -0.000755  0.000239 -3.158260  0.000794
-2   0.003619  0.013520  0.267688  0.605530
-3   0.012363  0.012855  0.961682  0.831895
-4  -0.003309  0.018225 -0.181581  0.427956
-5   0.034546  0.021877  1.579088  0.942842
-6   0.024810  0.021268  1.166544  0.878303
-7  -0.019533  0.014576 -1.340042  0.090116
-8  -0.010733  0.016049 -0.668800  0.251811
-9   0.017793  0.016913  1.052040  0.853609
-10  0.012286  0.014846  0.827593  0.796049

India

      Mean AR    STD AR    T-Test   P-Value
10   0.014462  0.008250  1.752913  0.960191
9   -0.003365  0.010370 -0.324441  0.372802
8   -0.004878  0.012348 -0.395040  0.346407
7    0.000931  0.009298  0.100089  0.539863
6   -0.004476  0.007213 -0.620520  0.267458
5    0.003242  0.008843  0.366636  0.643055
4   -0.006158  0.014695 -0.419084  0.337578
3   -0.000841  0.010237 -0.082190  0.467248
2   -0.005400  0.008348 -0.646791  0.258884
1   -0.007237  0.007504 -0.964460  0.167408
0    0.008486  0.006774  1.252762  0.894854
-1  -0.000825  0.000269 -3.071584  0.001065
-2  -0.004457  0.013885 -0.320998  0.374106
-3  -0.004036  0.007297 -0.553082  0.290104
-4   0.006802  0.014879  0.457159  0.676222
-5  -0.005445  0.010425 -0.522323  0.300723
-6  -0.001053  0.009797 -0.107490  0.457200
-7   0.013145  0.012970  1.013511  0.844592
-8  -0.016175  0.007625 -2.121387  0.016945
-9   0.010884  0.006915  1.573864  0.942241
-10 -0.012308  0.011780 -1.044795  0.148059

China

      Mean AR    STD AR    T-Test   P-Value
10   0.007457  0.020104  0.370917  0.644650
9    0.001728  0.008625  0.200315  0.579383
8    0.018070  0.014051  1.286087  0.900794
7    0.000929  0.012010  0.077370  0.530836
6   -0.004715  0.007790 -0.605196  0.272524
5    0.009003  0.013379  0.672923  0.749502
4    0.006202  0.013086  0.473958  0.682235
3   -0.009123  0.015902 -0.573728  0.283076
2   -0.000122  0.011040 -0.011040  0.495596
1    0.008918  0.012704  0.702017  0.758666
0    0.000858  0.018751  0.045734  0.518239
-1  -0.000388  0.000313 -1.237665  0.107920
-2   0.011613  0.012313  0.943185  0.827207
-3  -0.009515  0.016873 -0.563950  0.286394
-4  -0.000801  0.011062 -0.072376  0.471151
-5   0.001670  0.013318  0.125413  0.549902
-6  -0.015587  0.022358 -0.697177  0.242846
-7   0.001798  0.007168  0.250862  0.599040
-8  -0.002297  0.009472 -0.242544  0.404179
-9   0.009074  0.008925  1.016694  0.845351
-10 -0.002483  0.010746 -0.231010  0.408654

Turkey

      Mean AR    STD AR    T-Test   P-Value
10  -0.026699  0.024934 -1.070806  0.142128
9    0.030861  0.020047  1.539382  0.938144
8   -0.004038  0.032609 -0.123823  0.450728
7    0.033365  0.021222  1.572188  0.942047
6   -0.029992  0.022849 -1.312625  0.094655
5    0.030631  0.029749  1.029627  0.848407
4    0.019686  0.019759  0.996338  0.840457
3    0.003986  0.029867  0.133467  0.553088
2    0.011357  0.025986  0.437033  0.668956
1   -0.034989  0.027425 -1.275816  0.101010
0    0.035905  0.031708  1.132385  0.871264
-1  -0.000774  0.000235 -3.302383  0.000479
-2   0.001250  0.027638  0.045234  0.518040
-3  -0.019111  0.018175 -1.051552  0.146503
-4   0.020181  0.020052  1.006400  0.842888
-5  -0.003970  0.032238 -0.123130  0.451002
-6  -0.021317  0.033917 -0.628494  0.264840
-7  -0.020549  0.021178 -0.970277  0.165954
-8   0.002687  0.022960  0.117031  0.546582
-9   0.006071  0.029605  0.205055  0.581236
-10  0.008129  0.031088  0.261476  0.603137

Egypt

      Mean AR    STD AR     T-Test       P-Value
10  -0.001560  0.000227  -6.872403  3.156467e-12
9    0.009639  0.031389   0.307086  6.206111e-01
8   -0.007170  0.025721  -0.278769  3.902112e-01
7   -0.045281  0.045159  -1.002714  1.579994e-01
6   -0.056847  0.076096  -0.747038  2.275205e-01
5   -0.008934  0.000556 -16.070130  2.066086e-58
4   -0.027735  0.037389  -0.741781  2.291101e-01
3    0.008783  0.023183   0.378878  6.476108e-01
2   -0.016164  0.022925  -0.705064  2.403852e-01
1    0.027905  0.022961   1.215332  8.878803e-01
0    0.004132  0.000388  10.650455  1.000000e+00
-1  -0.000861  0.000269  -3.198501  6.907208e-04
-2  -0.013889  0.020473  -0.678405  2.487576e-01
-3   0.011027  0.023565   0.467939  6.800861e-01
-4   0.004005  0.042904   0.093354  5.371890e-01
-5   0.012387  0.000997  12.428949  1.000000e+00
-6   0.007401  0.019322   0.383042  6.491556e-01
-7   0.000823  0.020537   0.040054  5.159749e-01
-8  -0.032572  0.034179  -0.952971  1.703024e-01
-9   0.008608  0.000210  40.898157  1.000000e+00
-10 -0.021280  0.022845  -0.931515  1.757935e-01

South Africa

      Mean AR    STD AR    T-Test   P-Value
10  -0.000846  0.018398 -0.045982  0.481662
9    0.002001  0.015016  0.133266  0.553008
8    0.006570  0.017797  0.369182  0.644004
7    0.025868  0.020064  1.289304  0.901354
6   -0.000143  0.011798 -0.012135  0.495159
5   -0.011779  0.013197 -0.892530  0.186055
4    0.006328  0.022468  0.281643  0.610891
3    0.010704  0.016008  0.668666  0.748146
2   -0.015027  0.014259 -1.053872  0.145971
1   -0.045463  0.017500 -2.597842  0.004691
0    0.000459  0.021906  0.020966  0.508363
-1  -0.000336  0.000236 -1.421774  0.077546
-2  -0.003743  0.014343 -0.260947  0.397067
-3   0.003236  0.019819  0.163296  0.564857
-4   0.002549  0.011374  0.224063  0.588646
-5   0.012662  0.021224  0.596566  0.724601
-6   0.033691  0.015328  2.197931  0.986023
-7  -0.009456  0.010656 -0.887433  0.187423
-8  -0.010038  0.019827 -0.506281  0.306330
-9   0.013347  0.014239  0.937386  0.825720
-10  0.006111  0.012601  0.484934  0.686138

Poland

      Mean AR    STD AR    T-Test   P-Value
10   0.002318  0.015321  0.151306  0.560133
9    0.008022  0.021699  0.369688  0.644193
8    0.017877  0.034012  0.525604  0.700418
7    0.014086  0.024132  0.583703  0.720290
6   -0.036984  0.022391 -1.651707  0.049297
5   -0.044438  0.047343 -0.938640  0.173958
4   -0.011768  0.019605 -0.600249  0.274170
3    0.010667  0.030360  0.351342  0.637334
2   -0.015394  0.022250 -0.691846  0.244517
1   -0.034601  0.018806 -1.839885  0.032893
0   -0.026558  0.027824 -0.954511  0.169913
-1  -0.000824  0.000310 -2.661676  0.003888
-2   0.001227  0.043799  0.028004  0.511171
-3   0.007864  0.025730  0.305651  0.620065
-4  -0.021991  0.022681 -0.969561  0.166133
-5   0.019219  0.028128  0.683271  0.752782
-6   0.024312  0.014386  1.689954  0.954482
-7  -0.021465  0.015818 -1.356984  0.087393
-8   0.009657  0.058772  0.164318  0.565260
-9   0.024655  0.021373  1.153526  0.875653
-10 -0.002496  0.021723 -0.114889  0.454266

Czech Republic

      Mean AR    STD AR    T-Test   P-Value
10  -0.006127  0.006807 -0.900167  0.184016
9   -0.006485  0.007476 -0.867435  0.192852
8   -0.007751  0.010933 -0.708956  0.239176
7    0.002475  0.007971  0.310478  0.621901
6   -0.006485  0.007934 -0.817317  0.206874
5   -0.004614  0.010396 -0.443857  0.328573
4    0.004381  0.006862  0.638409  0.738396
3    0.009321  0.005885  1.583817  0.943382
2   -0.005192  0.009118 -0.569384  0.284548
1   -0.005248  0.014851 -0.353353  0.361912
0    0.001748  0.015529  0.112537  0.544801
-1  -0.000385  0.000332 -1.159878  0.123049
-2   0.007816  0.014992  0.521375  0.698947
-3  -0.000442  0.007141 -0.061936  0.475307
-4  -0.003067  0.009339 -0.328417  0.371298
-5   0.004343  0.007253  0.598714  0.725318
-6   0.012782  0.013264  0.963721  0.832407
-7  -0.005243  0.012432 -0.421750  0.336604
-8  -0.009034  0.012296 -0.734736  0.231250
-9   0.009912  0.007199  1.376834  0.915718
-10 -0.002204  0.009009 -0.244648  0.403365

Mexico

      Mean AR    STD AR    T-Test   P-Value
10  -0.003704  0.018552 -0.199676  0.420867
9    0.002096  0.017123  0.122419  0.548716
8    0.011445  0.022989  0.497842  0.690702
7    0.026052  0.024810  1.050075  0.853158
6   -0.001384  0.018722 -0.073926  0.470535
5   -0.007374  0.011851 -0.622264  0.266884
4    0.006880  0.014427  0.476935  0.683296
3    0.017004  0.014498  1.172828  0.879568
2   -0.007456  0.016380 -0.455211  0.324479
1   -0.035778  0.018455 -1.938720  0.026268
0    0.004017  0.020255  0.198342  0.578611
-1  -0.000460  0.000300 -1.535162  0.062372
-2   0.003179  0.019015  0.167197  0.566392
-3   0.030947  0.071989  0.429888  0.666361
-4   0.007993  0.015237  0.524590  0.700066
-5   0.028243  0.015405  1.833295  0.966621
-6   0.004396  0.015222  0.288776  0.613624
-7   0.003246  0.020903  0.155288  0.561703
-8  -0.005024  0.012703 -0.395455  0.346254
-9   0.011775  0.014591  0.806976  0.790160
-10  0.000110  0.009567  0.011480  0.504580

Chile

      Mean AR    STD AR    T-Test   P-Value
10  -0.022123  0.018313 -1.208016  0.113520
9    0.015678  0.013346  1.174780  0.879959
8    0.000816  0.024371  0.033491  0.513358
7    0.021887  0.014024  1.560663  0.940698
6   -0.004341  0.019218 -0.225908  0.410637
5   -0.003948  0.013142 -0.300420  0.381928
4   -0.005659  0.017105 -0.330843  0.370382
3    0.011472  0.016120  0.711676  0.761667
2    0.006380  0.018628  0.342490  0.634009
1   -0.006891  0.016900 -0.407748  0.341729
0   -0.003656  0.018272 -0.200066  0.420714
-1  -0.000457  0.000268 -1.701490  0.044426
-2  -0.002610  0.018496 -0.141090  0.443900
-3   0.019934  0.016581  1.202245  0.885366
-4   0.001851  0.011235  0.164773  0.565439
-5   0.025930  0.011077  2.340990  0.990384
-6   0.020769  0.012891  1.611155  0.946427
-7  -0.021502  0.013931 -1.543508  0.061354
-8  -0.003993  0.019263 -0.207310  0.417884
-9   0.008840  0.017263  0.512072  0.695700
-10  0.000717  0.016460  0.043583  0.517382

Indonesia

      Mean AR    STD AR    T-Test   P-Value
10   0.017946  0.020676  0.867980  0.807297
9   -0.004998  0.020515 -0.243614  0.403765
8    0.012018  0.022795  0.527212  0.700977
7    0.000872  0.021523  0.040507  0.516156
6   -0.009148  0.033564 -0.272547  0.392601
5    0.008703  0.025414  0.342439  0.633990
4   -0.005374  0.022167 -0.242445  0.404218
3    0.000035  0.023971  0.001458  0.500582
2   -0.002049  0.014832 -0.138156  0.445059
1    0.000300  0.018387  0.016314  0.506508
0    0.006377  0.025219  0.252867  0.599815
-1  -0.000491  0.000271 -1.812946  0.034920
-2  -0.005558  0.031480 -0.176568  0.429924
-3  -0.002721  0.031848 -0.085450  0.465952
-4   0.011262  0.019897  0.566004  0.714304
-5   0.009529  0.021238  0.448665  0.673163
-6   0.005092  0.024089  0.211396  0.583711
-7  -0.005503  0.013249 -0.415348  0.338944
-8  -0.018048  0.022921 -0.787419  0.215518
-9   0.023098  0.032085  0.719901  0.764207
-10 -0.010077  0.023613 -0.426760  0.334777

Taiwan

      Mean AR    STD AR    T-Test   P-Value
10  -0.008025  0.009974 -0.804619  0.210520
9   -0.009860  0.009384 -1.050726  0.146692
8    0.004290  0.011485  0.373527  0.645622
7    0.009577  0.012848  0.745414  0.771989
6    0.006086  0.014873  0.409182  0.658797
5   -0.002990  0.015488 -0.193024  0.423470
4    0.007371  0.010227  0.720741  0.764466
3    0.012242  0.011497  1.064798  0.856516
2    0.000449  0.017958  0.024983  0.509966
1   -0.013331  0.009521 -1.400113  0.080740
0   -0.009918  0.021505 -0.461179  0.322335
-1  -0.000401  0.000306 -1.309470  0.095188
-2   0.001036  0.007845  0.132101  0.552548
-3  -0.012142  0.008751 -1.387520  0.082642
-4   0.010414  0.010473  0.994287  0.839958
-5   0.008874  0.011307  0.784843  0.783727
-6  -0.006826  0.014418 -0.473477  0.317936
-7   0.003213  0.011334  0.283513  0.611608
-8  -0.011264  0.010826 -1.040429  0.149070
-9   0.022044  0.009656  2.282938  0.988783
-10 -0.019150  0.009178 -2.086422  0.018470

Thailand

      Mean AR    STD AR    T-Test   P-Value
10  -0.012495  0.015248 -0.819491  0.206253
9   -0.015560  0.021502 -0.723674  0.234633
8    0.013104  0.016215  0.808173  0.790504
7    0.020381  0.011830  1.722916  0.957548
6   -0.011700  0.016758 -0.698183  0.242531
5   -0.003603  0.014243 -0.252948  0.400154
4    0.020687  0.016713  1.237802  0.892105
3   -0.003165  0.009512 -0.332764  0.369656
2   -0.024803  0.011773 -2.106853  0.017565
1   -0.011115  0.021747 -0.511124  0.304632
0    0.008215  0.018465  0.444894  0.671802
-1  -0.000334  0.000260 -1.285844  0.099249
-2   0.016773  0.015462  1.084782  0.860991
-3  -0.004932  0.015188 -0.324729  0.372693
-4  -0.004234  0.013404 -0.315853  0.376057
-5   0.021674  0.015888  1.364175  0.913744
-6   0.015118  0.014185  1.065817  0.856747
-7  -0.016928  0.035790 -0.472965  0.318119
-8   0.017541  0.019080  0.919355  0.821045
-9   0.005136  0.012056  0.426033  0.664958
-10  0.011920  0.013847  0.860846  0.805339

Qatar

      Mean AR    STD AR    T-Test   P-Value
10   0.000389  0.005877  0.066154  0.526373
9    0.014769  0.015364  0.961245  0.831786
8   -0.006300  0.012831 -0.490968  0.311725
7    0.002553  0.008095  0.315312  0.623738
6    0.005614  0.011681  0.480626  0.684609
5   -0.006413  0.003989 -1.607856  0.053933
4   -0.012957  0.004679 -2.769503  0.002807
3   -0.002659  0.013431 -0.197993  0.421525
2    0.001759  0.008061  0.218164  0.586349
1    0.022463  0.015904  1.412480  0.921096
0    0.001369  0.000391  3.501063  0.999768
-1  -0.000521  0.000268 -1.944940  0.025891
-2   0.017071  0.010373  1.645639  0.950081
-3   0.007506  0.008676  0.865069  0.806499
-4  -0.005998  0.009000 -0.666411  0.252574
-5  -0.010516  0.011932 -0.881298  0.189078
-6   0.009336  0.003888  2.401167  0.991829
-7   0.002141  0.013777  0.155388  0.561742
-8  -0.008253  0.010137 -0.814179  0.207771
-9   0.003885  0.016690  0.232789  0.592037
-10 -0.009722  0.011395 -0.853212  0.196771

Saudi Arabia

      Mean AR    STD AR    T-Test   P-Value
10  -0.001284  0.004627 -0.277386  0.390742
9    0.002152  0.016184  0.133002  0.552904
8   -0.011286  0.024100 -0.468320  0.319778
7   -0.008739  0.014669 -0.595742  0.275674
6   -0.003425  0.015820 -0.216517  0.414292
5   -0.007492  0.003459 -2.165699  0.015167
4   -0.010716  0.016960 -0.631807  0.263757
3    0.022573  0.018351  1.230047  0.890660
2    0.004888  0.016586  0.294716  0.615895
1    0.014509  0.020885  0.694736  0.756390
0    0.002589  0.006350  0.407721  0.658261
-1  -0.000588  0.000383 -1.533996  0.062515
-2   0.008744  0.012015  0.727772  0.766623
-3   0.011033  0.015094  0.730941  0.767592
-4  -0.003502  0.012803 -0.273548  0.392216
-5  -0.006806  0.023943 -0.284246  0.388111
-6   0.007250  0.000871  8.322784  1.000000
-7  -0.001207  0.015124 -0.079782  0.468205
-8  -0.026632  0.019154 -1.390459  0.082195
-9   0.008059  0.013879  0.580650  0.719262
-10  0.002447  0.017419  0.140492  0.555864

### 5.3.2 Average Abnormal Returns for Developed Markets Countries

In [281]:
# Add country column to the Abrnormal Returns dataframe
common_index = AR_Developed_Markets.index.intersection(df_Developed_Countries.index)
AR_Developed_Markets.loc[common_index, 'Country'] = df_Developed_Countries.loc[common_index, 'Country']

# Calculate AAR per country
developed_market_countries = AR_Developed_Markets['Country'].unique()

for country in developed_market_countries:
    companies_per_country = AR_Developed_Markets[AR_Developed_Markets['Country'] == country]
    print(country)
    display(stats_AAR_companies(companies_per_country, 10, 10))

Spain

      Mean AR    STD AR    T-Test   P-Value
10   0.000248  0.011175  0.022150  0.508836
9    0.007888  0.009423  0.837087  0.798728
8   -0.003192  0.016923 -0.188613  0.425198
7    0.008843  0.014617  0.604999  0.727410
6   -0.003277  0.007695 -0.425897  0.335091
5   -0.007070  0.009981 -0.708362  0.239360
4    0.012482  0.010027  1.244905  0.893417
3    0.007898  0.013214  0.597669  0.724970
2   -0.003706  0.012926 -0.286703  0.387170
1   -0.023074  0.010720 -2.152452  0.015681
0    0.007764  0.018551  0.418527  0.662219
-1  -0.000359  0.000292 -1.227524  0.109813
-2  -0.003655  0.011510 -0.317522  0.375424
-3  -0.009387  0.013380 -0.701584  0.241469
-4   0.000860  0.014219  0.060449  0.524101
-5   0.020547  0.017321  1.186211  0.882230
-6   0.016856  0.013433  1.254854  0.895234
-7  -0.007660  0.011566 -0.662267  0.253900
-8  -0.014069  0.018509 -0.760092  0.223600
-9   0.014620  0.014902  0.981103  0.836729
-10 -0.003174  0.008830 -0.359478  0.359619

USA

      Mean AR    STD AR    T-Test   P-Value
10   0.004024  0.013745  0.292783  0.615156
9    0.000862  0.013297  0.064846  0.525852
8   -0.000227  0.010531 -0.021598  0.491384
7    0.005283  0.019595  0.269583  0.606260
6   -0.001599  0.007388 -0.216377  0.414347
5   -0.005707  0.008835 -0.645976  0.259147
4   -0.002817  0.014685 -0.191840  0.423934
3    0.000454  0.016002  0.028349  0.511308
2    0.000907  0.012677  0.071532  0.528513
1   -0.001515  0.008320 -0.182071  0.427764
0   -0.003906  0.008977 -0.435099  0.331745
-1  -0.000353  0.000383 -0.922186  0.178216
-2  -0.001425  0.014290 -0.099717  0.460284
-3   0.002586  0.012815  0.201801  0.579964
-4  -0.003486  0.009681 -0.360073  0.359396
-5   0.005344  0.011979  0.446141  0.672252
-6   0.000169  0.013067  0.012906  0.505149
-7  -0.000193  0.019333 -0.010000  0.496010
-8  -0.002901  0.008963 -0.323707  0.373080
-9   0.002859  0.009600  0.297786  0.617067
-10  0.004676  0.006823  0.685308  0.753425

Canada

      Mean AR    STD AR    T-Test   P-Value
10  -0.001654  0.017466 -0.094704  0.462275
9   -0.001285  0.011656 -0.110210  0.456122
8    0.001802  0.012528  0.143857  0.557193
7    0.009519  0.012657  0.752030  0.773983
6    0.007374  0.012372  0.596035  0.724424
5   -0.001729  0.013468 -0.128358  0.448933
4   -0.004136  0.012076 -0.342549  0.365969
3    0.001417  0.016930  0.083689  0.533348
2    0.005154  0.010333  0.498776  0.691031
1   -0.009218  0.010588 -0.870611  0.191983
0   -0.013652  0.017722 -0.770368  0.220541
-1  -0.000267  0.000474 -0.563467  0.286559
-2  -0.001781  0.011052 -0.161107  0.436005
-3  -0.008418  0.008754 -0.961599  0.168126
-4   0.000844  0.018349  0.046000  0.518345
-5   0.007669  0.014648  0.523570  0.699711
-6   0.025272  0.016342  1.546401  0.938996
-7   0.004431  0.011566  0.383083  0.649171
-8  -0.010431  0.012950 -0.805476  0.210273
-9   0.011630  0.016885  0.688756  0.754512
-10  0.005188  0.011953  0.434052  0.667875

United Kingdom

      Mean AR    STD AR    T-Test   P-Value
10  -0.004298  0.014663 -0.293119  0.384716
9    0.009958  0.014828  0.671568  0.749071
8    0.009820  0.029923  0.328186  0.628614
7    0.010662  0.015425  0.691218  0.755286
6   -0.002490  0.008694 -0.286371  0.387297
5   -0.006997  0.009865 -0.709275  0.239077
4    0.011806  0.013690  0.862394  0.805765
3    0.006879  0.012016  0.572502  0.716509
2   -0.003240  0.011861 -0.273146  0.392371
1   -0.024974  0.012025 -2.076856  0.018907
0    0.003970  0.018540  0.214107  0.584768
-1  -0.000378  0.000325 -1.164554  0.122100
-2  -0.003761  0.014288 -0.263250  0.396179
-3  -0.008539  0.011522 -0.741151  0.229301
-4  -0.000074  0.015724 -0.004682  0.498132
-5   0.012129  0.013029  0.930916  0.824051
-6   0.017917  0.013155  1.362019  0.913404
-7  -0.004314  0.011226 -0.384278  0.350386
-8  -0.008310  0.012757 -0.651450  0.257378
-9   0.011008  0.008901  1.236657  0.891893
-10 -0.004633  0.009051 -0.511869  0.304371

Germany

      Mean AR    STD AR    T-Test   P-Value
10  -0.003219  0.009668 -0.332944  0.369588
9    0.006726  0.015230  0.441654  0.670630
8   -0.003639  0.018044 -0.201666  0.420089
7    0.007266  0.013998  0.519059  0.698140
6   -0.000841  0.008490 -0.099110  0.460525
5   -0.004161  0.007606 -0.547150  0.292138
4    0.010274  0.010666  0.963273  0.832295
3    0.007465  0.009009  0.828621  0.796341
2    0.007605  0.038155  0.199310  0.578990
1   -0.019651  0.012270 -1.601598  0.054622
0    0.008797  0.016243  0.541553  0.705937
-1  -0.000345  0.000321 -1.074764  0.141240
-2  -0.006597  0.010017 -0.658626  0.255068
-3  -0.000728  0.011911 -0.061128  0.475629
-4  -0.002729  0.012603 -0.216519  0.414292
-5   0.011035  0.012477  0.884440  0.811771
-6   0.014898  0.012287  1.212520  0.887343
-7  -0.005450  0.013998 -0.389321  0.348519
-8  -0.011731  0.012540 -0.935488  0.174768
-9   0.013338  0.015530  0.858826  0.804782
-10  0.002865  0.010823  0.264717  0.604386

France

      Mean AR    STD AR    T-Test   P-Value
10  -0.008259  0.011221 -0.735979  0.230872
9    0.007939  0.013111  0.605482  0.727571
8    0.000796  0.017768  0.044801  0.517867
7    0.010700  0.011757  0.910170  0.818634
6   -0.003803  0.010680 -0.356090  0.360887
5   -0.005503  0.008430 -0.652832  0.256932
4    0.017578  0.013295  1.322161  0.906943
3    0.006959  0.013659  0.509455  0.694783
2   -0.002126  0.015206 -0.139789  0.444413
1   -0.021744  0.010301 -2.110985  0.017387
0    0.005149  0.013666  0.376814  0.646844
-1  -0.000346  0.000223 -1.551858  0.060348
-2  -0.006828  0.009591 -0.711946  0.238249
-3  -0.002383  0.007145 -0.333475  0.369388
-4  -0.004103  0.009601 -0.427388  0.334548
-5   0.014067  0.013694  1.027256  0.847850
-6   0.016991  0.019633  0.865442  0.806602
-7  -0.008495  0.010674 -0.795890  0.213048
-8  -0.010657  0.009443 -1.128597  0.129534
-9   0.010082  0.010902  0.924769  0.822457
-10  0.001910  0.007606  0.251097  0.599130

Italy

      Mean AR    STD AR    T-Test   P-Value
10  -0.005415  0.015354 -0.352664  0.362170
9    0.007236  0.019372  0.373499  0.645611
8    0.002190  0.011875  0.184441  0.573166
7    0.005113  0.024215  0.211159  0.583618
6   -0.004781  0.012707 -0.376267  0.353359
5   -0.008791  0.014573 -0.603213  0.273183
4    0.011897  0.016311  0.729410  0.767124
3    0.001732  0.010528  0.164488  0.565326
2   -0.002864  0.016775 -0.170750  0.432210
1   -0.027102  0.013317 -2.035156  0.020918
0    0.008493  0.021012  0.404192  0.656964
-1  -0.000500  0.000273 -1.828896  0.033708
-2  -0.003857  0.016295 -0.236688  0.406449
-3  -0.006043  0.013061 -0.462656  0.321805
-4  -0.003510  0.015406 -0.227829  0.409889
-5   0.011116  0.010679  1.040859  0.851029
-6   0.019355  0.013559  1.427437  0.923273
-7  -0.009505  0.014254 -0.666808  0.252447
-8  -0.009051  0.013024 -0.694945  0.243545
-9   0.014694  0.016337  0.899462  0.815797
-10  0.007991  0.013453  0.593998  0.723743

Netherlands

      Mean AR    STD AR    T-Test   P-Value
10  -0.007491  0.007542 -0.993178  0.160312
9    0.010239  0.011182  0.915654  0.820076
8   -0.005195  0.009607 -0.540731  0.294347
7    0.011509  0.015614  0.737104  0.769470
6   -0.002150  0.006858 -0.313532  0.376938
5   -0.004865  0.007440 -0.653851  0.256604
4    0.018272  0.014877  1.228210  0.890316
3    0.006300  0.016323  0.385928  0.650225
2   -0.000105  0.008398 -0.012553  0.494992
1   -0.021959  0.011650 -1.884879  0.029723
0    0.007887  0.015865  0.497125  0.690449
-1  -0.000417  0.000281 -1.482329  0.069126
-2  -0.005349  0.023319 -0.229371  0.409290
-3  -0.005350  0.010073 -0.531130  0.297664
-4  -0.005044  0.013900 -0.362880  0.358347
-5   0.009698  0.011967  0.810359  0.791133
-6   0.009448  0.007622  1.239649  0.892447
-7  -0.011185  0.012600 -0.887747  0.187338
-8  -0.013693  0.011636 -1.176751  0.119648
-9   0.022054  0.054743  0.402861  0.656475
-10  0.000180  0.011016  0.016305  0.506505

Switzerland

      Mean AR    STD AR    T-Test   P-Value
10  -0.000353  0.008402 -0.041997  0.483250
9    0.004799  0.011202  0.428389  0.665816
8    0.003538  0.013226  0.267519  0.605465
7    0.008437  0.017263  0.488719  0.687480
6    0.013200  0.040572  0.325342  0.627539
5   -0.003461  0.008628 -0.401176  0.344145
4    0.002707  0.011890  0.227704  0.590062
3    0.002661  0.007865  0.338310  0.632435
2   -0.000688  0.012784 -0.053798  0.478548
1   -0.018088  0.009897 -1.827636  0.033802
0   -0.000034  0.010960 -0.003089  0.498768
-1  -0.000482  0.000264 -1.826476  0.033889
-2  -0.006148  0.013784 -0.446018  0.327792
-3  -0.007311  0.005892 -1.240840  0.107332
-4  -0.002705  0.007051 -0.383545  0.350658
-5   0.009627  0.010781  0.892992  0.814069
-6   0.010723  0.006868  1.561381  0.940783
-7  -0.007794  0.006797 -1.146625  0.125768
-8  -0.010174  0.007707 -1.320019  0.093414
-9   0.014213  0.013734  1.034827  0.849625
-10  0.001200  0.011772  0.101929  0.540593

Belgium

      Mean AR    STD AR    T-Test   P-Value
10   0.002593  0.008169  0.317399  0.624530
9    0.004493  0.022515  0.199569  0.579091
8    0.005437  0.017823  0.305055  0.619838
7    0.013951  0.011910  1.171368  0.879275
6   -0.006083  0.031098 -0.195615  0.422456
5   -0.003980  0.005745 -0.692774  0.244226
4    0.015489  0.015451  1.002457  0.841939
3    0.007621  0.007952  0.958331  0.831052
2   -0.002496  0.007052 -0.353903  0.361706
1   -0.018845  0.010046 -1.875966  0.030330
0    0.003867  0.006501  0.594932  0.724055
-1  -0.000150  0.000343 -0.438760  0.330418
-2   0.001761  0.020829  0.084529  0.533682
-3  -0.005804  0.017477 -0.332095  0.369909
-4  -0.001068  0.011373 -0.093896  0.462596
-5   0.014805  0.011384  1.300418  0.903271
-6   0.015435  0.016450  0.938289  0.825952
-7  -0.012728  0.012586 -1.011314  0.155933
-8  -0.005095  0.010363 -0.491651  0.311483
-9   0.012046  0.016913  0.712219  0.761836
-10  0.002955  0.014473  0.204204  0.580903

Denmark

      Mean AR    STD AR    T-Test   P-Value
10   0.005696  0.015448  0.368729  0.643835
9    0.005448  0.015243  0.357395  0.639602
8   -0.000319  0.026599 -0.011979  0.495221
7    0.015803  0.017296  0.913721  0.819568
6    0.005726  0.012366  0.463057  0.678338
5   -0.004767  0.016481 -0.289228  0.386203
4    0.012449  0.012295  1.012462  0.844341
3    0.006109  0.009777  0.624810  0.733952
2   -0.003913  0.010999 -0.355728  0.361022
1   -0.026117  0.011551 -2.261079  0.011877
0    0.002331  0.014196  0.164196  0.565211
-1  -0.000197  0.000297 -0.663911  0.253373
-2  -0.010998  0.007688 -1.430654  0.076265
-3  -0.006605  0.019611 -0.336814  0.368128
-4   0.001147  0.014021  0.081835  0.532611
-5   0.018129  0.015639  1.159181  0.876809
-6   0.014283  0.014527  0.983177  0.837240
-7  -0.013344  0.015949 -0.836710  0.201378
-8  -0.006828  0.017298 -0.394726  0.346523
-9   0.012253  0.012826  0.955325  0.830293
-10  0.007432  0.015072  0.493083  0.689023

Japan

      Mean AR    STD AR    T-Test   P-Value
10  -0.003911  0.018941 -0.206483  0.418207
9    0.004758  0.009887  0.481289  0.684844
8   -0.004575  0.021684 -0.211006  0.416441
7    0.020660  0.015029  1.374656  0.915381
6   -0.006280  0.011158 -0.562813  0.286781
5   -0.009540  0.009775 -0.975979  0.164537
4    0.020530  0.011287  1.818797  0.965529
3    0.010730  0.014868  0.721701  0.764761
2   -0.021367  0.016550 -1.291061  0.098341
1    0.000405  0.010946  0.036973  0.514747
0   -0.021334  0.013251 -1.609964  0.053703
-1  -0.000651  0.000272 -2.392917  0.008358
-2   0.009804  0.009193  1.066490  0.856899
-3  -0.019499  0.011501 -1.695390  0.045001
-4   0.021796  0.019467  1.119665  0.868572
-5   0.009945  0.010581  0.939908  0.826368
-6   0.002855  0.010212  0.279604  0.610109
-7   0.006745  0.016110  0.418680  0.662275
-8   0.011453  0.012683  0.902972  0.816730
-9   0.003492  0.011256  0.310286  0.621828
-10  0.001372  0.012926  0.106108  0.542252

Singapore

      Mean AR    STD AR    T-Test   P-Value
10   0.006077  0.010056  0.604308  0.727181
9    0.005247  0.013366  0.392583  0.652686
8    0.008706  0.012311  0.707188  0.760275
7    0.010449  0.013300  0.785586  0.783945
6   -0.000902  0.009642 -0.093585  0.462719
5    0.007519  0.009008  0.834722  0.798063
4    0.008662  0.010981  0.788830  0.784894
3   -0.007068  0.010968 -0.644415  0.259653
2    0.000112  0.013290  0.008420  0.503359
1   -0.009951  0.008620 -1.154417  0.124165
0    0.004109  0.007141  0.575421  0.717497
-1  -0.000155  0.000289 -0.536443  0.295826
-2   0.002493  0.013666  0.182389  0.572361
-3  -0.004198  0.009827 -0.427232  0.334605
-4   0.014871  0.009880  1.505251  0.933870
-5   0.003637  0.011733  0.309956  0.621703
-6   0.007327  0.011360  0.644988  0.740532
-7  -0.006541  0.010538 -0.620652  0.267414
-8  -0.001857  0.008995 -0.206492  0.418203
-9   0.010425  0.008995  1.158956  0.876763
-10 -0.003231  0.008156 -0.396091  0.346019

New Zealand

      Mean AR    STD AR    T-Test   P-Value
10  -0.001861  0.015247 -0.122052  0.451429
9    0.004441  0.013771  0.322466  0.626450
8    0.006332  0.012357  0.512428  0.695824
7    0.002474  0.012423  0.199131  0.578920
6    0.001348  0.014002  0.096280  0.538351
5    0.003667  0.021548  0.170159  0.567558
4    0.004752  0.021361  0.222473  0.588027
3    0.009956  0.015088  0.659836  0.745321
2    0.000387  0.013228  0.029244  0.511665
1   -0.009045  0.015650 -0.577919  0.281660
0   -0.003838  0.015719 -0.244171  0.403549
-1  -0.000383  0.000275 -1.392572  0.081875
-2   0.003718  0.010885  0.341577  0.633666
-3  -0.015263  0.011265 -1.354880  0.087728
-4   0.004814  0.016294  0.295449  0.616175
-5   0.009740  0.013136  0.741452  0.770790
-6   0.007244  0.018452  0.392595  0.652691
-7  -0.019753  0.014888 -1.326737  0.092298
-8   0.006335  0.013648  0.464186  0.678743
-9   0.015904  0.022907  0.694320  0.756259
-10 -0.005269  0.015085 -0.349292  0.363435

Australia

      Mean AR    STD AR    T-Test   P-Value
10   0.004947  0.019022  0.260054  0.602589
9    0.003511  0.009840  0.356778  0.639371
8    0.010167  0.014826  0.685766  0.753570
7   -0.002528  0.010190 -0.248070  0.402040
6   -0.009024  0.009860 -0.915268  0.180026
5    0.001251  0.012611  0.099165  0.539496
4    0.011814  0.010638  1.110595  0.866629
3    0.007475  0.018286  0.408781  0.658650
2   -0.006730  0.009293 -0.724202  0.234471
1   -0.017044  0.014886 -1.144992  0.126106
0   -0.001402  0.013564 -0.103330  0.458851
-1  -0.000369  0.000348 -1.059035  0.144792
-2   0.001462  0.010659  0.137133  0.554537
-3  -0.011458  0.015387 -0.744642  0.228244
-4   0.003518  0.009082  0.387396  0.650768
-5   0.023558  0.015286  1.541194  0.938365
-6   0.011589  0.009439  1.227717  0.890223
-7  -0.011415  0.010800 -1.057013  0.145253
-8  -0.003625  0.018818 -0.192633  0.423623
-9   0.011141  0.017837  0.624596  0.733882
-10 -0.003493  0.020206 -0.172858  0.431382

## 5.4 Cumulative Average Abnormal Returns for countries

### 5.4.1 Cumulative Average Abnormal Returns for Emerging Markets Countries

In [282]:
for country in emerging_market_countries:
    companies_per_country = AR_Emerging_Markets[AR_Emerging_Markets['Country'] == country]
    print(country)
    CAAR_10_10 = stats_CAAR_companies(companies_per_country,10, 10)
    CAAR_5_5 = stats_CAAR_companies(companies_per_country, 5, 5)
    CAAR_1_1 = stats_CAAR_companies(companies_per_country, 1, 1)

    CAAR_Emerging_Markets = pd.concat([CAAR_10_10, CAAR_5_5, CAAR_1_1])
    display(CAAR_Emerging_Markets)

Brazil

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.024010  0.097391  0.246529  0.597364
 CAAR +5 / -5 days     0.012871  0.064450  0.199703  0.579144
 CAAR +1 / -1 days    -0.054486  0.026912 -2.024580  0.021455

India

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days  -0.018703  0.045916 -0.407330  0.341883
 CAAR +5 / -5 days    -0.015870  0.025563 -0.620835  0.267354
 CAAR +1 / -1 days     0.000423  0.009024  0.046891  0.518700

China

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.032290  0.073340  0.440277  0.670132
 CAAR +5 / -5 days     0.018316  0.053283  0.343745  0.634481
 CAAR +1 / -1 days     0.009388  0.020469  0.458644  0.676755

Turkey

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.042669  0.126821  0.336450  0.631734
 CAAR +5 / -5 days     0.064152  0.085921  0.746636  0.772358
 CAAR +1 / -1 days     0.000142  0.035252  0.004014  0.501601

Egypt

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days  -0.137580  0.157958 -0.870993  0.191879
 CAAR +5 / -5 days     0.000659  0.077247  0.008526  0.503401
 CAAR +1 / -1 days     0.031177  0.022711  1.372768  0.915088

South Africa

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.026695  0.055968  0.476974  0.683310
 CAAR +5 / -5 days    -0.040410  0.061554 -0.656495  0.255753
 CAAR +1 / -1 days    -0.045340  0.031093 -1.458202  0.072392

Poland

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days  -0.076614  0.170570 -0.449168  0.326655
 CAAR +5 / -5 days    -0.116597  0.121263 -0.961522  0.168145
 CAAR +1 / -1 days    -0.061983  0.027898 -2.221799  0.013148

Czech Republic

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days  -0.009501  0.033862 -0.280573  0.389519
 CAAR +5 / -5 days     0.008660  0.022842  0.379142  0.647709
 CAAR +1 / -1 days    -0.003885  0.011246 -0.345465  0.364872

Mexico

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.096202  0.078144  1.231087  0.890855
 CAAR +5 / -5 days     0.047195  0.062145  0.759435  0.776204
 CAAR +1 / -1 days    -0.032221  0.027949 -1.152850  0.124486

Chile

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.059097  0.054180  1.090750  0.862309
 CAAR +5 / -5 days     0.042348  0.047811  0.885729  0.812118
 CAAR +1 / -1 days    -0.011003  0.026546 -0.414498  0.339255

Indonesia

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.031263  0.091118  0.343110  0.634242
 CAAR +5 / -5 days     0.020011  0.053824  0.371786  0.644974
 CAAR +1 / -1 days     0.006186  0.026688  0.231788  0.591649

Taiwan

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days  -0.008311  0.047614 -0.174559  0.430713
 CAAR +5 / -5 days     0.001604  0.042292  0.037925  0.515126
 CAAR +1 / -1 days    -0.023650  0.020472 -1.155212  0.124002

Thailand

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.041681  0.072990  0.571048  0.716017
 CAAR +5 / -5 days     0.015163  0.045857  0.330659  0.629549
 CAAR +1 / -1 days    -0.003235  0.023324 -0.138678  0.444852

Qatar

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.025514  0.054227  0.470505  0.681003
 CAAR +5 / -5 days     0.011103  0.025548  0.434592  0.668071
 CAAR +1 / -1 days     0.023312  0.015631  1.491362  0.932067

Saudi Arabia

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.002568  0.063029  0.040750  0.516252
 CAAR +5 / -5 days     0.035233  0.033115  1.063975  0.856330
 CAAR +1 / -1 days     0.016511  0.020722  0.796766  0.787207

### 5.4.2 Cumulative Average Abnormal Returns for Developed Markets Countries

In [283]:
for country in developed_market_countries:
    companies_per_country = AR_Developed_Markets[AR_Developed_Markets['Country'] == country]
    print(country)
    CAAR_10_10 = stats_CAAR_companies(companies_per_country,10, 10)
    CAAR_5_5 = stats_CAAR_companies(companies_per_country, 5, 5)
    CAAR_1_1 = stats_CAAR_companies(companies_per_country, 1, 1)

    CAAR_Developed_Markets = pd.concat([CAAR_10_10, CAAR_5_5, CAAR_1_1])
    display(CAAR_Developed_Markets)

Spain

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.019383  0.063892  0.303372  0.619197
 CAAR +5 / -5 days     0.002300  0.033193  0.069287  0.527619
 CAAR +1 / -1 days    -0.015668  0.018742 -0.835995  0.201579

USA

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.003033  0.050833  0.059668  0.523790
 CAAR +5 / -5 days    -0.009918  0.028874 -0.343512  0.365607
 CAAR +1 / -1 days    -0.005774  0.010661 -0.541570  0.294057

Canada

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.027729  0.065979  0.420262  0.662853
 CAAR +5 / -5 days    -0.024118  0.040903 -0.589631  0.277719
 CAAR +1 / -1 days    -0.023138  0.019652 -1.177403  0.119517

United Kingdom

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.022142  0.056554  0.391517  0.652292
 CAAR +5 / -5 days    -0.013178  0.031249 -0.421719  0.336615
 CAAR +1 / -1 days    -0.021382  0.018038 -1.185407  0.117928

Germany

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.031177  0.062123  0.501857  0.692116
 CAAR +5 / -5 days     0.010964  0.047695  0.229873  0.590905
 CAAR +1 / -1 days    -0.011200  0.019692 -0.568758  0.284760

France

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.017925  0.052594  0.340813  0.633378
 CAAR +5 / -5 days     0.000720  0.032499  0.022149  0.508836
 CAAR +1 / -1 days    -0.016941  0.014373 -1.178697  0.119259

Italy

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.008399  0.060065  0.139834  0.555604
 CAAR +5 / -5 days    -0.019429  0.044116 -0.440405  0.329822
 CAAR +1 / -1 days    -0.019109  0.018986 -1.006455  0.157098

Netherlands

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.012783  0.063885  0.200097  0.579298
 CAAR +5 / -5 days    -0.000933  0.034220 -0.027265  0.489124
 CAAR +1 / -1 days    -0.014489  0.013042 -1.110998  0.133285

Switzerland

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.013868  0.060813  0.228053  0.590197
 CAAR +5 / -5 days    -0.023920  0.020995 -1.139315  0.127286
 CAAR +1 / -1 days    -0.018603  0.007401 -2.513501  0.005977

Belgium

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.044204  0.056487  0.782547  0.783053
 CAAR +5 / -5 days     0.011199  0.044975  0.249012  0.598324
 CAAR +1 / -1 days    -0.015128  0.010565 -1.431931  0.076082

Denmark

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.033718  0.071211  0.473493  0.682069
 CAAR +5 / -5 days    -0.012432  0.038575 -0.322290  0.373616
 CAAR +1 / -1 days    -0.023983  0.015846 -1.513525  0.065073

Japan

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.037388  0.045854  0.815368  0.792569
 CAAR +5 / -5 days     0.000819  0.028879  0.028358  0.511312
 CAAR +1 / -1 days    -0.021581  0.016729 -1.289984  0.098528

Singapore

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.055732  0.050731  1.098571  0.864022
 CAAR +5 / -5 days     0.020031  0.024794  0.807901  0.790426
 CAAR +1 / -1 days    -0.005997  0.012595 -0.476131  0.316990

New Zealand

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.025701  0.056061  0.458441  0.676682
 CAAR +5 / -5 days     0.008505  0.042323  0.200960  0.579635
 CAAR +1 / -1 days    -0.013266  0.019793 -0.670228  0.251356

Australia

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.023345  0.056775  0.411182  0.659531
 CAAR +5 / -5 days     0.012075  0.032251  0.374414  0.645952
 CAAR +1 / -1 days    -0.018815  0.017791 -1.057534  0.145134

## 5.5 Average Abnormal Returns for Continents

In [284]:
#Continents per Market 

common_index = AR_Emerging_Markets.index.intersection(df_Emerging_Markets.index)
AR_Emerging_Markets.loc[common_index, 'Continent'] = df_Emerging_Markets.loc[common_index, 'Continent']
common_index = AR_Developed_Markets.index.intersection(df_Developed_Countries.index)
AR_Developed_Markets.loc[common_index, 'Continent'] = df_Developed_Countries.loc[common_index, 'Continent']

#Generate a global Data Frame and analize per continet
global_AR = pd.concat([AR_Emerging_Markets, AR_Developed_Markets])
continents = global_AR['Continent'].unique()

for continent in continents:
    companies_per_continent = global_AR[global_AR['Continent'] == continent]
    print(continent)
    display(stats_AAR_companies(companies_per_continent, 10, 10))

South America

      Mean AR    STD AR    T-Test   P-Value
10  -0.018142  0.018838 -0.963065  0.167757
9   -0.006037  0.025461 -0.237118  0.406283
8   -0.002417  0.019752 -0.122344  0.451313
7    0.008551  0.019171  0.446045  0.672218
6    0.013886  0.026665  0.520743  0.698727
5    0.001753  0.015790  0.110989  0.544188
4   -0.002476  0.014480 -0.171004  0.432110
3    0.015035  0.024377  0.616785  0.731312
2    0.001461  0.016136  0.090555  0.536077
1   -0.029119  0.024418 -1.192528  0.116527
0   -0.008760  0.019937 -0.439352  0.330203
-1  -0.000646  0.000288 -2.244754  0.012392
-2   0.001333  0.015708  0.084832  0.533803
-3   0.015142  0.014697  1.030298  0.848565
-4  -0.001415  0.016132 -0.087711  0.465053
-5   0.031383  0.019031  1.649071  0.950434
-6   0.023326  0.018645  1.251078  0.894547
-7  -0.020256  0.014285 -1.418011  0.078094
-8  -0.008259  0.017484 -0.472383  0.318327
-9   0.014507  0.017480  0.829907  0.796704
-10  0.008040  0.016347  0.491822  0.688578

Asia

      Mean AR    STD AR    T-Test   P-Value
10  -0.001638  0.020646 -0.079315  0.468391
9    0.001745  0.019982  0.087352  0.534804
8    0.003216  0.022092  0.145551  0.557862
7    0.009824  0.019533  0.502963  0.692505
6   -0.006904  0.020119 -0.343164  0.365738
5    0.003201  0.020187  0.158548  0.562988
4    0.006361  0.019515  0.325948  0.627768
3    0.003647  0.019979  0.182532  0.572417
2   -0.004074  0.019471 -0.209248  0.417127
1   -0.004156  0.022662 -0.183405  0.427240
0    0.003423  0.023825  0.143692  0.557128
-1  -0.000514  0.000342 -1.504533  0.066222
-2   0.005782  0.018994  0.304423  0.619597
-3  -0.006841  0.019091 -0.358309  0.360056
-4   0.007584  0.017893  0.423825  0.664153
-5   0.004195  0.020405  0.205595  0.581446
-6  -0.000642  0.021358 -0.030054  0.488012
-7  -0.003120  0.020481 -0.152357  0.439453
-8  -0.004689  0.021110 -0.222136  0.412104
-9   0.010616  0.018880  0.562295  0.713042
-10 -0.002490  0.019478 -0.127815  0.449148

Africa

      Mean AR    STD AR    T-Test   P-Value
10  -0.001162  0.013659 -0.085082  0.466098
9    0.005384  0.023815  0.226061  0.589423
8    0.000485  0.022569  0.021503  0.508578
7   -0.005641  0.048739 -0.115736  0.453931
6   -0.025255  0.058302 -0.433170  0.332446
5   -0.010519  0.009904 -1.062152  0.144083
4   -0.008757  0.034296 -0.255329  0.399235
3    0.009854  0.019384  0.508348  0.694395
2   -0.015530  0.018461 -0.841266  0.200099
1   -0.012971  0.041777 -0.310495  0.378092
0    0.002086  0.016362  0.127488  0.550723
-1  -0.000569  0.000362 -1.569477  0.058268
-2  -0.008236  0.017925 -0.459478  0.322946
-3   0.006686  0.021747  0.307459  0.620753
-4   0.003194  0.029531  0.108146  0.543060
-5   0.012540  0.015765  0.795451  0.786825
-6   0.022048  0.021557  1.022766  0.846791
-7  -0.004904  0.016503 -0.297166  0.383170
-8  -0.020017  0.029181 -0.685977  0.246364
-9   0.011249  0.010831  1.038618  0.850509
-10 -0.006020  0.022409 -0.268632  0.394107

Europe

      Mean AR    STD AR    T-Test   P-Value
10  -0.002767  0.012851 -0.215350  0.414747
9    0.007116  0.015430  0.461150  0.677655
8    0.002257  0.021528  0.104846  0.541751
7    0.009899  0.016872  0.586704  0.721299
6   -0.003756  0.019014 -0.197531  0.421706
5   -0.008329  0.018162 -0.458625  0.323252
4    0.010904  0.015229  0.716015  0.763009
3    0.006396  0.013535  0.472521  0.681723
2   -0.002511  0.017920 -0.140126  0.444280
1   -0.023086  0.013122 -1.759305  0.039263
0    0.003452  0.018995  0.181733  0.572104
-1  -0.000394  0.000324 -1.217260  0.111753
-2  -0.004217  0.017890 -0.235725  0.406823
-3  -0.004801  0.014078 -0.340993  0.366554
-4  -0.003199  0.014777 -0.216459  0.414315
-5   0.013531  0.014845  0.911531  0.818992
-6   0.016256  0.014182  1.146258  0.874156
-7  -0.009094  0.013170 -0.690462  0.244952
-8  -0.008754  0.019901 -0.439868  0.330016
-9   0.014024  0.020359  0.688836  0.754537
-10  0.001082  0.012592  0.085890  0.534223

North America

      Mean AR    STD AR    T-Test   P-Value
10  -0.000797  0.017055 -0.046719  0.481369
9    0.000304  0.013892  0.021908  0.508739
8    0.004207  0.016646  0.252763  0.599774
7    0.013446  0.020572  0.653582  0.743310
6    0.002368  0.014271  0.165918  0.565889
5   -0.004485  0.012083 -0.371166  0.355257
4   -0.000439  0.014267 -0.030795  0.487717
3    0.005910  0.017479  0.338103  0.632357
2    0.000208  0.013989  0.014875  0.505934
1   -0.015292  0.019036 -0.803347  0.210887
0   -0.005732  0.018315 -0.312977  0.377149
-1  -0.000348  0.000409 -0.851091  0.197359
-2  -0.000178  0.014741 -0.012096  0.495174
-3   0.006433  0.043652  0.147378  0.558583
-4   0.001890  0.016041  0.117838  0.546902
-5   0.013324  0.017281  0.771046  0.779660
-6   0.012370  0.018948  0.652805  0.743059
-7   0.002864  0.016925  0.169205  0.567182
-8  -0.006821  0.012304 -0.554353  0.289669
-9   0.009386  0.014989  0.626192  0.734406
-10  0.003509  0.010281  0.341310  0.633565

Oceania

      Mean AR    STD AR    T-Test   P-Value
10   0.001543  0.017489  0.088222  0.535150
9    0.003976  0.011916  0.333629  0.630670
8    0.008250  0.013715  0.601528  0.726256
7   -0.000027  0.011580 -0.002331  0.499070
6   -0.003838  0.013127 -0.292371  0.385001
5    0.002459  0.017607  0.139637  0.555527
4    0.008283  0.017159  0.482727  0.685355
3    0.008715  0.016725  0.521093  0.698849
2   -0.003171  0.011922 -0.266014  0.395114
1   -0.013044  0.015718 -0.829888  0.203301
0   -0.002620  0.014658 -0.178733  0.429074
-1  -0.000376  0.000312 -1.203703  0.114352
-2   0.002590  0.010778  0.240299  0.594951
-3  -0.013360  0.013552 -0.985868  0.162099
-4   0.004166  0.013140  0.317068  0.624404
-5   0.016649  0.015788  1.054511  0.854176
-6   0.009417  0.014744  0.638666  0.738480
-7  -0.015584  0.013601 -1.145786  0.125942
-8   0.001355  0.017103  0.079233  0.531576
-9   0.013523  0.020565  0.657568  0.744592
-10 -0.004381  0.017762 -0.246639  0.402594

## 5.6 Cumulative Average Abnormal Returns for Continents & Global

In [285]:
for continent in continents:
    companies_per_continent = global_AR[global_AR['Continent'] == continent]
    print(continent)
    CAAR_10_10 = stats_CAAR_companies(companies_per_continent,10, 10)
    CAAR_5_5 = stats_CAAR_companies(companies_per_continent, 5, 5)
    CAAR_5_0 = stats_CAAR_companies(companies_per_continent, 5, 0)
    CAAR_0_5 = stats_CAAR_companies(companies_per_continent, 0, 5)

    CAAR_Global = pd.concat([CAAR_10_10, CAAR_5_5, CAAR_5_0, CAAR_0_5])
    display(CAAR_Global)

South America

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.036890  0.085830  0.429801  0.666330
 CAAR +5 / -5 days     0.023692  0.060580  0.391076  0.652129
 CAAR +5 / -0 days     0.037038  0.033620  1.101659  0.864695
 CAAR +0 / -5 days    -0.022106  0.050045 -0.441719  0.329346

Asia

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.024526  0.077154  0.317889  0.624716
 CAAR +5 / -5 days     0.018608  0.052237  0.356216  0.639160
 CAAR +5 / -0 days     0.013630  0.037823  0.360362  0.640712
 CAAR +0 / -5 days     0.008401  0.045869  0.183155  0.572662

Africa

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days  -0.046055  0.139475 -0.330206  0.370622
 CAAR +5 / -5 days    -0.022222  0.071900 -0.309073  0.378633
 CAAR +5 / -0 days     0.015702  0.037758  0.415850  0.661240
 CAAR +0 / -5 days    -0.035838  0.068623 -0.522247  0.300749

Europe

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.014008  0.076582  0.182919  0.572569
 CAAR +5 / -5 days    -0.012254  0.055324 -0.221502  0.412351
 CAAR +5 / -0 days     0.004373  0.032551  0.134334  0.553431
 CAAR +0 / -5 days    -0.013175  0.046776 -0.281668  0.389099

North America

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.042126  0.076185  0.552947  0.709850
 CAAR +5 / -5 days     0.001290  0.055453  0.023267  0.509281
 CAAR +5 / -0 days     0.015389  0.054776  0.280943  0.610623
 CAAR +0 / -5 days    -0.019831  0.033338 -0.594834  0.275977

Oceania

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.024523  0.056432  0.434559  0.668059
 CAAR +5 / -5 days     0.010290  0.037668  0.273183  0.607644
 CAAR +5 / -0 days     0.007049  0.028770  0.245018  0.596779
 CAAR +0 / -5 days     0.000621  0.031773  0.019552  0.507800

In [286]:
# Global CAAR

CAAR_10_10 = stats_CAAR_companies(global_AR,10, 10)
CAAR_5_5 = stats_CAAR_companies(global_AR, 5, 5)
CAAR_5_0 = stats_CAAR_companies(global_AR, 5, 0)
CAAR_0_5 = stats_CAAR_companies(global_AR, 0, 5)

CAAR_Global = pd.concat([CAAR_10_10, CAAR_5_5, CAAR_5_0, CAAR_0_5])
display(CAAR_Global)

                      Mean CAAR  STD CAAR    T-Test   P-Value
 CAAR +10 / -10 days   0.019778  0.083598  0.236587  0.593511
 CAAR +5 / -5 days     0.005051  0.056523  0.089358  0.535601
 CAAR +5 / -0 days     0.012397  0.038459  0.322334  0.626400
 CAAR +0 / -5 days    -0.006376  0.048090 -0.132592  0.447258

# 6. Robust test

Using the GRANK-T Test with Standardized Abnormal Returns (SAR) & Standardized Cumulative Abnormal Returns (SCAR)

In [287]:
def GRANK_T_test(Abnormal_Returns, Days_before, Days_after):
    
    # Calculation of SAR
    n = len(Abnormal_Returns)
    Abnormal_Returns = Abnormal_Returns.loc[:,10:-150]
    SAR = Abnormal_Returns.div(Abnormal_Returns.std(axis=1), axis=0)
    SAR_event_study = SAR.loc[:, Days_after:-Days_before]

    # Calculation of SCAR
    CAR = SAR_event_study.sum(axis=1)
    SCAR = CAR / np.std(CAR)
    
    # Calculation of GSAR
    SCAR_mean = np.mean(SCAR)
    SCAR_std = np.std(SCAR)
    Re_stand_SCAR = (SCAR - SCAR_mean) / SCAR_std
    
    #GSAAR & GRANK calculation
    GSAR = pd.concat([Re_stand_SCAR.to_frame(),SAR.loc[:, -Days_before-1:]],axis=1)
    GSAAR = GSAR.mean().to_frame(name='CAAR')
    Ranks = GSAAR.rank()
    L = len(GSAR)
    T = len(Ranks)
    U = (Ranks / (L + 1)) - 0.5 
    Z = U.loc[0] / np.sqrt(((U.mean()**2)*len(GSAR))/T)
    
    # Calculation of the GRANK-T statistic
    GRANK_T = Z / np.sqrt((T - 2) / (T - 1 - (Z ** 2)))
    p_value = 2 * (1 - scyst.norm.cdf(abs(GRANK_T)))
    
    return SCAR_mean, p_value

In [288]:
grank_t_CAAR, p_value = GRANK_T_test(AR_Emerging_Markets, 1, 1)
print(f"GRANK-T CAAR: {grank_t_CAAR}, p-value: {p_value}")
grank_t_CAAR, p_value = GRANK_T_test(AR_Developed_Markets, 1, 1)
print(f"GRANK-T CAAR: {grank_t_CAAR}, p-value: {p_value}")

GRANK-T CAAR: -0.2879901763182906, p-value: [0.59283585]
GRANK-T CAAR: -0.9865069432827448, p-value: [0.585507]

In [289]:
CAAR_GRANK_T_test_EM = pd.DataFrame()

for country in emerging_market_countries:
    
    companies_per_country = AR_Emerging_Markets[AR_Emerging_Markets['Country'] == country]
    grank_t_CAAR_10, p_value_10  = GRANK_T_test(companies_per_country,10, 10)
    grank_t_CAAR_5, p_value_5  = GRANK_T_test(companies_per_country,5, 5)
    grank_t_CAAR_1, p_value_1  = GRANK_T_test(companies_per_country,1, 1)
    
    row_name = f'CAAR {country}'
    CAAR_GRANK_T_test_EM.loc[row_name, '[+10,-10]'] = grank_t_CAAR_10
    CAAR_GRANK_T_test_EM.loc[row_name, '[+5,-5]'] = grank_t_CAAR_5
    CAAR_GRANK_T_test_EM.loc[row_name, '[+1,-1]'] = grank_t_CAAR_1
    row_name = f'p-value {country}'
    CAAR_GRANK_T_test_EM.loc[row_name, '[+10,-10]'] = p_value_10
    CAAR_GRANK_T_test_EM.loc[row_name, '[+5,-5]'] = p_value_5
    CAAR_GRANK_T_test_EM.loc[row_name, '[+1,-1]'] = p_value_1

CAAR_GRANK_T_test_EM

                        [+10,-10]   [+5,-5]   [+1,-1]
CAAR Brazil              0.244580  0.148020 -2.342624
p-value Brazil           0.118689  0.115055  0.116825
CAAR India              -0.438582 -0.625424  0.067338
p-value India            0.012176  0.010695  0.009077
CAAR China               0.435784  0.330740  0.422349
p-value China            0.110414  0.099894  0.101854
CAAR Turkey              0.409896  0.801436  0.045140
p-value Turkey           0.065071  0.063972  0.061121
CAAR Egypt              -0.966581  0.021599  1.373494
p-value Egypt            0.022059  0.021258  0.021789
CAAR South Africa        0.630372 -0.752076 -2.244702
p-value South Africa     0.103011  0.098259  0.098757
CAAR Poland             -0.575317 -1.022167 -2.201240
p-value Poland           0.005809  0.005429  0.004897
CAAR Czech Republic     -0.186339  0.533928 -0.309183
p-value Czech Republic   0.000870  0.000639  0.000535
CAAR Mexico              1.586780  0.908427 -1.272997
p-value Mexico           0.039618  0.041606  0.046021
CAAR Chile               1.066590  0.893398 -0.422314
p-value Chile            0.042984  0.040621  0.040900
CAAR Indonesia           0.515050  0.591805  0.266915
p-value Indonesia        0.114786  0.103611  0.098317
CAAR Taiwan             -0.295359 -0.063717 -1.415605
p-value Taiwan           0.156859  0.141204  0.142533
CAAR Thailand            0.569914  0.319819 -0.129565
p-value Thailand         0.156859  0.161088  0.152026
CAAR Qatar               0.375405  0.364556  1.451853
p-value Qatar            0.005134  0.004807  0.004340
CAAR Saudi Arabia        0.066435  1.055695  0.820211
p-value Saudi Arabia     0.085310  0.083356  0.079389

In [290]:
CAAR_GRANK_T_test_DM = pd.DataFrame()

for country in developed_market_countries:
    
    companies_per_country = AR_Developed_Markets[AR_Developed_Markets['Country'] == country]
    grank_t_CAAR_10, p_value_10  = GRANK_T_test(companies_per_country,10, 10)
    grank_t_CAAR_5, p_value_5  = GRANK_T_test(companies_per_country,5, 5)
    grank_t_CAAR_1, p_value_1  = GRANK_T_test(companies_per_country,1, 1)
    
    row_name = f'CAAR {country}'
    CAAR_GRANK_T_test_DM.loc[row_name, '[+10,-10]'] = grank_t_CAAR_10
    CAAR_GRANK_T_test_DM.loc[row_name, '[+5,-5]'] = grank_t_CAAR_5
    CAAR_GRANK_T_test_DM.loc[row_name, '[+1,-1]'] = grank_t_CAAR_1
    row_name = f'p-value {country}'
    CAAR_GRANK_T_test_DM.loc[row_name, '[+10,-10]'] = p_value_10
    CAAR_GRANK_T_test_DM.loc[row_name, '[+5,-5]'] = p_value_5
    CAAR_GRANK_T_test_DM.loc[row_name, '[+1,-1]'] = p_value_1

CAAR_GRANK_T_test_DM

                        [+10,-10]   [+5,-5]   [+1,-1]
CAAR Spain               0.299878  0.002502 -0.889922
p-value Spain            0.048072  0.042291  0.039522
CAAR USA                 0.100108 -0.237060 -0.493341
p-value USA              0.024439  0.025715  0.023896
CAAR Canada              0.482588 -0.630314 -1.347424
p-value Canada           0.095265  0.099894  0.094976
CAAR United Kingdom      0.257293 -0.474084 -1.293411
p-value United Kingdom   0.118689  0.107258  0.094976
CAAR Germany             0.507969  0.194463 -0.586767
p-value Germany          0.050937  0.048151  0.040823
CAAR France              0.263725 -0.045012 -1.035766
p-value France           0.062834  0.060733  0.052941
CAAR Italy               0.160796 -0.479714 -1.209305
p-value Italy            0.057930  0.056104  0.048915
CAAR Netherlands         0.102085 -0.090856 -1.151787
p-value Netherlands      0.023587  0.019949  0.016428
CAAR Switzerland         0.175590 -1.178413 -2.018861
p-value Switzerland      0.018729  0.017231  0.013827
CAAR Belgium             0.684583  0.259773 -1.321585
p-value Belgium          0.017816  0.016305  0.014525
CAAR Denmark             0.476927 -0.326044 -1.488600
p-value Denmark          0.032275  0.030194  0.025033
CAAR Japan               0.798958  0.046515 -1.386930
p-value Japan            0.042901  0.050491  0.052573
CAAR Singapore           1.024088  0.774854 -0.444318
p-value Singapore        0.061146  0.052768  0.052862
CAAR New Zealand         0.456744  0.201071 -0.659563
p-value New Zealand      0.127453  0.123301  0.124946
CAAR Australia           0.459583  0.367797 -1.037896
p-value Australia        0.136725  0.123301  0.124946

# 7. CAR Regression

The variables are Emerging Market, Sector, Geographical Proximity, Political Regime and Political Alingment

In [291]:
# Add information for the regression data

# Add sector column to the Abrnormal Returns dataframe
common_index = AR_Emerging_Markets.index.intersection(df_Emerging_Markets.index)
AR_Emerging_Markets.loc[common_index, 'Sector Number'] = df_Emerging_Markets.loc[common_index, 'Sector Number']
common_index = AR_Developed_Markets.index.intersection(df_Developed_Countries.index)
AR_Developed_Markets.loc[common_index, 'Sector Number'] = df_Developed_Countries.loc[common_index, 'Sector Number']

df_Regression_data = pd.read_excel("Database.xlsx",'CAAR Regression',index_col = 0)
df_Regression_data

                Geographical Proximity  Political Regime  Political Alingment
Country
USA                            9463.62                 3                    0
Canada                         8945.00                 3                    0
United Kingdom                 3583.49                 3                    0
Germany                        2892.78                 3                    0
France                         3300.24                 3                    0
Italy                          2258.68                 3                    0
Spain                          3538.41                 3                    0
Netherlands                    3329.11                 3                    0
Switzerland                    2866.01                 3                    0
Belgium                        3273.01                 3                    0
Denmark                        3188.87                 3                    0
Japan                          9237.85                 3                    0
Singapore                      7997.52                 1                    0
New Zealand                   16341.81                 3                    0
Australia                     14048.96                 3                    0
Brazil                        10202.83                 2                    0
India                          4114.89                 1                    0
China                          7212.36                 0                    1
Turkey                          955.05                 1                    1
Egypt                           330.92                 1                    1
South Africa                   6388.01                 2                    2
Poland                         2552.97                 2                    0
Czech Republic                 2651.58                 3                    0
Mexico                        12492.38                 2                    1
Chile                         13134.60                 3                    1
Indonesia                      8731.09                 2                    1
Taiwan                         8341.97                 3                    0
Thailand                       6968.14                 1                    0
Qatar                          1812.57                 0                    2
Saudi Arabia                   1425.96                 0                    1

In [292]:
# Caculate SCAR for window event

def SCAR(Abnormal_Returns, Days_before, Days_after):
    
    # Calculation of SAR
    n = len(Abnormal_Returns)
    Abnormal_Returns = Abnormal_Returns.loc[:,10:-150]
    SAR = Abnormal_Returns.div(Abnormal_Returns.std(axis=1), axis=0)
    SAR_event_study = SAR.loc[:, Days_after:-Days_before]

    # Calculation of SCAR
    CAR = SAR_event_study.sum(axis=1)
    SCAR = CAR / np.std(CAR)
    
    return SCAR

In [299]:
# Adding SCAR and country to the regression dataset
SCAR_EM = pd.DataFrame(SCAR(AR_Emerging_Markets, 10, 10), columns=['SCAR'])
SCAR_EM['Country'] = AR_Emerging_Markets['Country']
SCAR_EM['Sector'] = AR_Emerging_Markets['Sector Number']
display(len(SCAR_EM))
SCAR_DM = pd.DataFrame(SCAR(AR_Developed_Markets, 10, 10), columns=['SCAR'])
SCAR_DM['Country'] = AR_Developed_Markets['Country']
SCAR_DM['Sector'] = AR_Developed_Markets['Sector Number']

Company_variables_dataset = pd.concat([SCAR_DM,SCAR_EM])

# Adding rest of country variables to the regression dataset
Regression_dataset = pd.merge(Company_variables_dataset, df_Regression_data, left_on='Country', right_index=True, how='left')

# Changing the country to be Emerging Markets variable
Regression_dataset.iloc[:561, Regression_dataset.columns.get_loc('Country')] = 1
Regression_dataset.iloc[561:, Regression_dataset.columns.get_loc('Country')] = 0
Regression_dataset

561

,SCAR,Country,Sector,Geographical Proximity,Political Regime,Political Alingment
Company Name,,,,,,
Inditex,-0.158108,1,0.0,3538.41,3,0
Iberdrola,0.301930,1,1.0,3538.41,3,0
Santander,-0.227592,1,2.0,3538.41,3,0
BBVA,-0.609164,1,2.0,3538.41,3,0
CAIXABANK,-0.845995,1,2.0,3538.41,3,0
...,...,...,...,...,...,...
Taleem REIT,-0.940145,0,9.0,1425.96,0,1
Theeb Rent a Car Company SJSC,0.323325,0,24.0,1425.96,0,1
Thimar Development Holding,0.944365,0,13.0,1425.96,0,1
Umm Al-Qura,1.034708,0,9.0,1425.96,0,1
spcc,1.825169,0,15.0,1425.96,0,1

In [300]:
# Regression for +10 -10 days 
y = Regression_dataset['SCAR']
X = Regression_dataset[['Country', 'Sector', 'Geographical Proximity', 'Political Regime','Political Alingment']]

X = X.astype(float)
y = y.astype(float)

# Add a constant to the independent variables
X = sm.add_constant(X)

# Fit the regression model
model = sm.OLS(y, X).fit()

# Print the regression results
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   SCAR   R-squared:                       0.058
Model:                            OLS   Adj. R-squared:                  0.054
Method:                 Least Squares   F-statistic:                     13.49
Date:                Fri, 28 Jun 2024   Prob (F-statistic):           8.69e-13
Time:                        03:48:00   Log-Likelihood:                -1537.7
No. Observations:                1102   AIC:                             3087.
Df Residuals:                    1096   BIC:                             3117.
Df Model:                           5
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                     -0.2158      0.103     -2.104      0.036      -0.417      -0.015
Country                    0.4429      0.089      4.976      0.000       0.268       0.618
Sector                     0.0053      0.005      1.144      0.253      -0.004       0.014
Geographical Proximity  4.594e-05   7.23e-06      6.351      0.000    3.17e-05    6.01e-05
Political Regime          -0.0721      0.041     -1.772      0.077      -0.152       0.008
Political Alingment        0.2366      0.069      3.422      0.001       0.101       0.372
==============================================================================
Omnibus:                       31.455   Durbin-Watson:                   1.728
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               73.609
Skew:                          -0.002   Prob(JB):                     1.04e-16
Kurtosis:                       4.266   Cond. No.                     3.20e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.2e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [303]:
# Regression for +5 -5 days 
SCAR_DM = pd.DataFrame(SCAR(AR_Developed_Markets, 5, 5), columns=['SCAR'])
SCAR_EM = pd.DataFrame(SCAR(AR_Emerging_Markets, 5, 5), columns=['SCAR'])
Company_variables_dataset = pd.concat([SCAR_DM,SCAR_EM])
Regression_dataset['SCAR'] = Company_variables_dataset

y = Regression_dataset['SCAR']
X = Regression_dataset[['Country', 'Sector', 'Geographical Proximity', 'Political Regime','Political Alingment']]

X = X.astype(float)
y = y.astype(float)

# Add a constant to the independent variables
X = sm.add_constant(X)

# Fit the regression model
model = sm.OLS(y, X).fit()

# Print the regression results
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   SCAR   R-squared:                       0.067
Model:                            OLS   Adj. R-squared:                  0.063
Method:                 Least Squares   F-statistic:                     15.69
Date:                Fri, 28 Jun 2024   Prob (F-statistic):           6.12e-15
Time:                        04:00:10   Log-Likelihood:                -1537.0
No. Observations:                1102   AIC:                             3086.
Df Residuals:                    1096   BIC:                             3116.
Df Model:                           5
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                      0.1154      0.103      1.125      0.261      -0.086       0.317
Country                    0.0396      0.089      0.445      0.656      -0.135       0.214
Sector                     0.0099      0.005      2.150      0.032       0.001       0.019
Geographical Proximity   3.96e-05   7.23e-06      5.477      0.000    2.54e-05    5.38e-05
Political Regime          -0.2086      0.041     -5.128      0.000      -0.288      -0.129
Political Alingment        0.0863      0.069      1.249      0.212      -0.049       0.222
==============================================================================
Omnibus:                       59.333   Durbin-Watson:                   1.661
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              145.616
Skew:                          -0.285   Prob(JB):                     2.40e-32
Kurtosis:                       4.687   Cond. No.                     3.20e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.2e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [304]:
# Regression for +1 -1 days 
SCAR_DM = pd.DataFrame(SCAR(AR_Developed_Markets, 1, 1), columns=['SCAR'])
SCAR_EM = pd.DataFrame(SCAR(AR_Emerging_Markets, 1, 1), columns=['SCAR'])
Company_variables_dataset = pd.concat([SCAR_DM,SCAR_EM])
Regression_dataset['SCAR'] = Company_variables_dataset

y = Regression_dataset['SCAR']
X = Regression_dataset[['Country', 'Sector', 'Geographical Proximity', 'Political Regime','Political Alingment']]

X = X.astype(float)
y = y.astype(float)

# Add a constant to the independent variables
X = sm.add_constant(X)

# Fit the regression model
model = sm.OLS(y, X).fit()

# Print the regression results
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   SCAR   R-squared:                       0.241
Model:                            OLS   Adj. R-squared:                  0.238
Method:                 Least Squares   F-statistic:                     69.61
Date:                Fri, 28 Jun 2024   Prob (F-statistic):           2.68e-63
Time:                        04:01:14   Log-Likelihood:                -1475.1
No. Observations:                1102   AIC:                             2962.
Df Residuals:                    1096   BIC:                             2992.
Df Model:                           5
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                      0.3139      0.097      3.238      0.001       0.124       0.504
Country                   -0.0422      0.084     -0.501      0.616      -0.207       0.123
Sector                     0.0003      0.004      0.078      0.937      -0.008       0.009
Geographical Proximity -8.376e-06   6.83e-06     -1.225      0.221   -2.18e-05    5.03e-06
Political Regime          -0.4235      0.038    -11.016      0.000      -0.499      -0.348
Political Alingment        0.1203      0.065      1.841      0.066      -0.008       0.248
==============================================================================
Omnibus:                       33.838   Durbin-Watson:                   1.517
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               57.528
Skew:                          -0.241   Prob(JB):                     3.22e-13
Kurtosis:                       4.010   Cond. No.                     3.20e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.2e+04. This might indicate that there are
strong multicollinearity or other numerical problems.